<table class="email-table" style="width: 538px; padding: 20px; background: #fff; margin: 40px auto; text-align: left; font-family: 'Helvetica Neue'">
  <tbody>
    <tr class="header-row">
      <td>
        <h1 style="font-size: 20px">Hello, <%= @user.first %> <%= @user.last %>!</h1>
        <h4><%= @first %> <%= @last %> is interested in your special: <a href="http://52.24.144.110/specials/<%= @user.id %>/<%= @special.id %>"><%= @special.title %></a>!</h4>
        <p>Here's the details:</p>
      </td>
    </tr>
    <tr class="body-row">
      <td>
        <p>Name: <%= @first %> <%= @last %></p>
        <p>Email: <%= @email %></p>
        <p>Phone Number: <%= @number %></p>
        <p>Message: <%= @message %></p>
      </td>
    </tr>
  </tbody>
</table>