<table class="email-table" style="box-shadow: 0px 2px 9px 3px #ccc; width: 538px; padding: 20px; background: white; margin: 40px auto; text-align: left; font-family: 'Helvetica Neue'">
  <tbody>
    <tr class="header-row">
      <td>
    <img src="http://www.myevolutiontravel.com/images/logo.png" style="width: 50%;">
        <h1 style="font-size: 20px; text-align: center; color:#022344">Hello, <%= @user.first %> <%= @user.last %>!</h1>
        <h4 style="text-align: center; color:#022344"><%= @first %> <%= @last %> (<a href="mailto:<%= @email %>"><%= @email %></a>) wants to go on vacation!</h4>
      </td>
    </tr>
    <tr style="color: #022344;" class="body-row">
      <td style="padding: 15px;">
        <h4 style="padding: 15px 0px; background-color: white; color: #022344; margin: 0px -15px; margin-top: -15px; padding-left: 15px;">Here's the details:</h4>
        <h3 tyle="padding: 15px 0px; background-color: white; color: #022344; margin: 0px -15px; margin-top: -15px; padding-left: 15px;">Personal Details:</h3>
        <p style="margin-top: 15px;">Name: <%= @first %> <%= @last %></p>
        <p>Email: <a href="mailto:<%= @email %>"><%= @email %></a></p>
        <p>Phone Number: <%= @number %></p>
        <p>When are you traveling?: <%= @depart_date %></p>
        <p>Dates flexible: <% if @flexible %>Yes<% else %>No<% end %></p>
        <h3 tyle="padding: 15px 0px; background-color: white; color: #022344; margin: 0px -15px; margin-top: -15px; padding-left: 15px;">Location Details:</h3>
        <% if @explore_options || @explore_other != '' %>
        <p>Where would you like to explore?</p>
        <% end %>
          <ul>
        <% if @explore_options %>
          <% @explore_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @explore_other != '' %>
          <li><%= @explore_other %></li>
          <% end %>
          </ul>
        <% if @vibe_options || @vibe_other != '' %>
          <p>What kind of vibe are you looking for?</p>
        <% end %>
          <ul>
        <% if @vibe_options %>
          <% @vibe_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @vibe_other != '' %>
          <li><%= @vibe_other %></li>
          <% end %>
          </ul>
        <% if @activity_options || @activity_other != '' %>
          <p>What activities are you interested in?</p>
        <% end %>
          <ul>
        <% if @activity_options %>
          <% @activity_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @activity_other != '' %>
          <li><%= @activity_other %></li>
          <% end %>
          </ul>
        <% if @view_options || @view_other != '' %>
          <p>View or Cabin Preference?</p>
        <% end %>
          <ul>
        <% if @view_options %>
          <% @view_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @view_other !='' %>
          <li><%= @view_other %></li>
          <% end %>
          </ul>
        <h3 tyle="padding: 15px 0px; background-color: white; color: #022344; margin: 0px -15px; margin-top: -15px; padding-left: 15px;">Booking/Party Details:</h3>
        <% if @include_options || @include_other != '' %>
          <p>What would you like included in your booking?</p>
        <% end %>
          <ul>
        <% if @include_option %>
          <% @include_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @include_other != '' %>
          <li><%= @include_other %></li>
          <% end %>
          </ul>
        <% if @budget %>
          <p>Budget: <%= @budget %></p>
        <% end %>
        <% if @duration %>
          <p>Duration: <%= @duration %></p>
        <% end %>
        <% if @star_options %>
          <p>What resort/hotel star rating do you prefer?</p>
        <% end %>
          <ul>
        <% if @star_options %>
          <% @star_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          </ul>
        <% if @rentalcar_options || @rentalcar_other != '' %>
          <p>If applicable, what size car rental will you need?</p>
        <% end %>
         <ul>
        <% if @rentalcar_options %>
          <% @rentalcar_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @rentalcar_other != '' %>
          <li><%= @rentalcar_other %></li>
          <% end %>
          </ul>
        <% if @party_size != '' %>
          <p>Party Size: <%= @party_size %></p>
        <% end %>
        <% if @traveler_type_options %>
        <p>Our Party Includes:</p>
        <% end %>
          <ul>
        <% if @traveler_type_options %>
          <% @traveler_type_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          </ul>
        <% if @occasion_options || @occasion_other != '' %>
          <p>Traveling for an occasion?:</p>
        <% end %>
          <ul>
        <% if @occasion_options %>
          <% @occasion_options.each do |val| %>
          <li><%= val %></li>
          <% end %>
        <% end %>
          <% if @occasion_other != '' %>
          <li><%= @occasion_other %></li>
          <% end %>
          </ul>
        <% if @contact_preference != '' %>
          <p>Contact Preference: <%= @contact_preference %></p>
        <% end %>
        <% if @comments != '' %>
          <p>Comments: <%= @comments %></p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>