<style type="text/css">
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
	.photo-col{
		/*height: 800px;*/
		/*background-color: blue;*/
	}
	.header-row{
		margin-top: 20px;
	}
	.fotorama__caption{
		left: initial !important;
	}
	.description-div{
		color: white;
    	background-color: #5b90b2;
	    height: 537px;
	    overflow: scroll;
	    padding: 2%;
		/*margin-top: 39px;*/
	}
	.lower-row{
		text-align: center;
	}
	.approve-header{
		text-align: center;
	}
	.gal-header{
		display: inline-block;
		margin-left: 10px;
	}
	.fotorama__caption{
		display: none;
	}
	.description-p{
		/*text-align: justify;*/
		margin-top: 15px;
	}
	.location{
		display: inline-block;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.date{
		display: inline;
		float: right;
		margin-bottom: 0px;
		margin-top: 6px;
		font-size: 12px;
	}
	.photo-row{
		height: 606px;
	}
	.photo-col{
		height: auto;
		padding-left: 0px;
		padding-right: 0px !important;
	}
	.header-row{
		color: white;
		background-color: #153649;
		height: 60px;
		padding-top: 10px;
	}
	.header-row a{
		color: white;
	}
	.booked-div{
	    float: right;
	    text-align: center;
	    background: #5b90b2;
	    padding-bottom: 15px;
	}
	.booked a{
		color: #153649;
	}
	.gal-col{
		text-align: center;
	}
	.gal-col-right{

	}
	.content-header{
		height: 20px;
	}
	.location{
		vertical-align: bottom;
	}
	.glyphicon-camera{
		font-size: 18px;
	}
	.photo-close{
		position: absolute;
		top: 0px;
		right: 5px;
	}
	.photo-modal-header{
		padding: 18px;
	}
@media (max-width: 1199px){
	.description-div{
		height: 437px;
		padding: 2%;
	}
}

@media (max-width: 991px){
	.description-div{
		height: 327px;
		padding: 1%;
	}
	.location{
		font-size: 15px;
	}
	.date{
		font-size: 10px;
	}
	.booked{
		padding: 3%;
	}
}

@media (max-width: 767px){
	.description-div{
		height: auto;
		padding: 2%;
	}
	.booked-div{
		position: relative;
	    width: 100%;
	    margin-top: 0px;
		margin-bottom: 0px;
		display: block;
		/*padding: 2%;*/
	}
	.booked{
		padding: 0%;
	}
	.date{
		font-size: 12px;
	}
	.location{
		font-size: 18px;
	}
}

.none-found{
	text-align: center;
}
.no-photo-row{
	margin-right: 0px !important;
}

.modal-upload-btn-col{
	text-align: center;
}

.approve-header a:hover{
	text-decoration: none;
	opacity: 0.6;
}

.booked a:hover{
	text-decoration: none;
	opacity: 0.6;
}

.approve-header{
	margin-top: 10px;
}

</style>
<!-- Disables turbolinks on restoration -->
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<div class="container">
	<div class="row header-row">
		<div class="col-sm-9 gal-col">
			<span class="glyphicon glyphicon-camera" aria-hidden="true"></span><h4 class="gal-header"><a href="/<%= @page_user.username %>"><%= @page_user.first %> <%= @page_user.last %>'s</a> Client Photo Gallery</h4>
		</div>
		<div class="col-sm-3 gal-col-right">
			<% if @unapproved_photos && @unapproved_photos.length > 0 %>
				<h5 class="approve-header"><a href="/gallery/edit/<%= @current_user.username %>">You have <%= @unapproved_photos.length %> photos to approve!</a></h5>
			<% end %>
		</div>
	</div>
	<div class="row photo-row">
		<% if @photos.length > 0 %>
			<div class="col-sm-9 photo-col">
				<div class="fotorama" data-width="100%" data-fit="cover" data-ratio="700/467" data-minwidth="400" data-maxwidth="1000" data-minheight="300" data-maxheight="100%">
<!-- 				  <img src="http://s.fotorama.io/1.jpg">
				  <img src="http://s.fotorama.io/2.jpg"> -->
				  <% @photos.each do |val| %>
				  	<% if val.traveled_on %>
					  	<% @date = val.traveled_on.to_formatted_s(:long) %>
				  	<% end %>
				  	<%# @date = val.traveled_on.strftime('%B %e at %l:%M %p') %>
				  	<%= image_tag(val.image.url, :data => { :caption => "#{val.location} - #{val.name} - #{@date}", :description => "#{val.description}", :location => "#{val.location}", :date => "#{@date}", :name => "#{val.name}" }) %>
				  <% end %>
				</div>
			</div>
			<div class='description-div col-sm-3'>
				<div class="content">
				<div class="content-header">
					<h4 class='location'><%= @photos[0].location %></h4>
					<h5 class='date'><%= @photos[0].traveled_on.to_formatted_s(:long) %></h5>
				</div>
				<p class='description-p'><%= @photos[0].description %></p>
				<p class='name'>- <%= @photos[0].name %></p>
				</div>
			</div>
			<div class="booked-div col-sm-3">
				<a href="#" data-toggle="modal" data-target="#galleryModal"><button class="btn btn-contact">Upload Photos Here!</button></a>
			</div>
		<% else %>
		<div class="row photo-row no-photo-row">
			<div class="col-sm-9 photo-col">
				<h4 class="none-found">No photos found</h4>
				<h5 class="none-found"><a hhref="#" data-toggle="modal" data-target="#galleryModal">Click Here to upload photos</a></h5>
			</div>
			<div class="description-div col-sm-3">
				<div class="booked-div">
					<a href="#" data-toggle="modal" data-target="#galleryModal"><button class="btn btn-contact">Upload Photos Here!</button></a>
				</div>
			</div>
		</div>
		<% end %>
	</div>
<!-- 	<div class="row lower-row">
		<div class="col-sm-9">
			<h4 class="booked">Have you booked with <%#= @page_user.first %> <%#= @page_user.last %>? Upload photos from your trip <a href="/gallery_upload/<%#= @page_user.username %>">here!</a></h4>
			<h5>Upload photos from your trip <a href="/gallery_upload/<%= @page_user.username %>">here</a>!</h5> -->
		</div>
	</div>
</div>

<!-- Contact Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span><h3 class="modal-title modalh3" id="contactModalLabel">Upload to <%= @page_user.first %>'s Gallery</h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form action="/gallery_upload" method="post" class="form-horizontal" enctype="multipart/form-data" id="new-gallery-form" required>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input name="photo[user_id]" type="hidden" value="<%= @page_user.id %>">
		<div class="form-group photo-group">
		    <label for="name" class="col-sm-3 control-label">Your Name</label>
		    <div class="col-sm-8">
		    	<input name="photo[name]" type="text" class="form-control" id="name" aria-describedby="fileHelp" required>
		    </div>
		</div>
		<div class="form-group photo-group">
		    <label for="location" class="col-sm-3 control-label">Location</label>
		    <div class="col-sm-8">
		    	<input name="photo[location]" type="text" class="form-control" id="location" aria-describedby="fileHelp" required>
		    </div>
		</div>
		<div class="form-group photo-group">
		    <label for="traveled_on" class="col-sm-3 control-label">Date Taken</label>
		    <div class="col-sm-8">
		    	<input name="photo[traveled_on]" type="date" class="form-control" id="traveled_on" aria-describedby="fileHelp" required>
		    </div>
		</div>
		<div class="form-group photo-group">
		    <label for="inputFile" class="col-sm-3 control-label">Photo</label>
		    <div class="col-sm-8">
		    	<input name="photo[image]" type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp" required>
		    </div>
		</div>
		<div class="form-group photo-group">
		    <label for="description" class="col-sm-3 control-label">Description</label>
		    <div class="col-sm-8">
		    	<textarea rows="4" name="photo[description]" class="form-control" id="description" aria-describedby="description" required></textarea>
		    </div>
		</div>
      <div class="row contact-sub">
        <div class="form-group">
            <!-- <label for="submit" class="col-sm-3 control-label"></label> -->
            <div class="col-sm-12 btn-col modal-upload-btn-col">
                <button class="btn btn-contact">Upload</button>
            </div>
        </div>
      </div>
    </form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmPhotoModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header photo-modal-header" id="confirm-header">
        <h3 class="modal-title" id="confirmModalLabel">Thanks!  Your photo has been uploaded, and needs to be approved by the agent.</h3>
        <button type="button" class="close confirm-close photo-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="failedPhotoModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header photo-modal-header" id="confirm-header">
        <h3 class="modal-title" id="confirmModalLabel">Oops!  The max photo size is 2MB.  Your photo was not uploaded.</h3>
        <button type="button" class="close confirm-close photo-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$('document').ready(function(){

	$('#new-gallery-form').validate({
		rules: {
			'photo[description]': {
				required: true
			}
		},
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        }
	});

    <% if flash[:photo_confirm] == true %>
    // alert("Thanks!  We'll be in touch");
    $('#confirmPhotoModal').modal('toggle');
    <% flash[:photo_confirm] = nil %>
    <% elsif flash[:photo_confirm] == false %>
    // alert("Thanks!  We'll be in touch");
    $('#failedPhotoModal').modal('toggle');
    <% end %>

	var x = <%= @photos.length %>
	var fotorama = $('.fotorama').fotorama().data('fotorama')
	// Adds thumbnails to nav if there are at least 5 photos
	if(x > 4){
		fotorama.setOptions({
			nav: 'thumbs'
		})
	}
	$('.fotorama').on('fotorama:showend', function(){
		console.log(fotorama.activeFrame.description);
		$('.content').html("<h4 class='location'>" + fotorama.activeFrame.location + "</h4><h5 class='date'>" + fotorama.activeFrame.date + "</h5><p class='description-p'>" + fotorama.activeFrame.description + "</p><p class='name'>-" + fotorama.activeFrame.name + "</p>");
	})

})

</script>