<style type="text/css">
	.thumb-div{
		width: 175px;
		height: 150px;
		display: inline-block;
		margin: 0px 3px;
		margin-bottom: 45px;
	    /*margin: 0px 5px;*/
	    vertical-align: top;	}
	.thumb-div img{
		width: 175px;
		height: auto;
		display: inline-block;
	    min-height: 150px;
	}
	.btn-div form{
		display: inline-block;
	}
	.btn-danger{
		/*margin-left: 10px;*/
/*		position: absolute;
		right: 0;
		top: 0;*/
		display: inline-block;
		/*width: 87px;*/
	}
	.btn-div{
		position: relative;
		margin-top: 5px;
	}
	.thumb-div-right .btn-div .btn{
		width: 85px;
	}
	.btn-div-left .btn-danger{
		width: 80px;
	}
	.view-cont{
		min-height: 600px;
		height: auto;
		margin-top: 15px;
	}
	.header-row{
		text-align: center;
		background-color: #153649;
		color: white;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.header-approve{
		background-color: #06b78d;
	}
	.content .col-sm-6{
		background-color: white;
		min-height: 500px;
	}
	.none-found{
		text-align: center;
	}
	.instruction-row{
		background-color: white;
	}

@media (max-width: 767px) {
	.content .col-sm-6{
		min-height: 400px;
	}
}

</style>
<div class="container view-cont">
	<div class="row content">
		<div class="col-sm-6">
			<div class="row header-row">
				<div class="col-sm-12">
					<h3>CURRENT GALLERY PHOTOS</h3>
				</div>
			</div>
			<% if @approved_photos.length == 0 %>
				<h3 class="none-found">You currently have no photos in your gallery</h3>
				<h4 class="none-found">View your <a href="/gallery/<%= @user.username %>">gallery</a> to upload photos</h4>
			<% else %>
				<% @approved_photos.each do |val| %>
					<div class="thumb-div thumb-div-right">
						<%= image_tag(val.image.url) %>
							<div class="btn-div">
							<% if !val.allowed %>
								<form action="/photo_allow" method="POST">
								<input name="_method" type="hidden" value="PATCH"%>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="photo_id" type="hidden" value="<%= val.id %>">
								<button class="btn btn-contact">APPROVE</button>
								</form>
							<% else %>
								<form action="/photo_remove" method="POST">
								<input name="_method" type="hidden" value="PATCH"%>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="photo_id" type="hidden" value="<%= val.id %>">
								<button class="btn btn-contact">REMOVE</button>
								</form>
							<% end %>
								<form action="/photo_destroy" method="POST">
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="photo_id" type="hidden" value="<%= val.id %>">
								<button class="btn btn-danger" data-confirm="Really delete this photo?">DELETE</button>
								</form>
							</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-6">
			<div class="row header-row header-approve">
				<div class="col-sm-12">
					<h3>PHOTOS TO APPROVE</h3>
				</div>
			</div>
			<% if @unapproved_photos.length == 0 %>
				<h4 class="none-found">You currently have no unapproved photos</h4>
			<% else %>
				<% @unapproved_photos.each do |val| %>
					<div class="thumb-div">
						<%= image_tag(val.image.url) %>
							<div class="btn-div btn-div-left">
							<% if !val.allowed %>
								<form action="/photo_allow" method="POST">
								<input name="_method" type="hidden" value="PATCH"%>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="photo_id" type="hidden" value="<%= val.id %>">
								<button class="btn btn-green">APPROVE</button>
								</form>
							<% else %>
								<form action="/photo_remove" method="POST">
								<input name="_method" type="hidden" value="PATCH"%>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="photo_id" type="hidden" value="<%= val.id %>">
								<button class="btn btn-green">REMOVE</button>
								</form>
							<% end %>
								<form action="/photo_destroy" method="POST">
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input name="photo_id" type="hidden" value="<%= val.id %>">
								<button class="btn btn-danger" data-confirm="Really delete this photo?">DELETE</button>
								</form>
							</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row instruction-row">
		<div class="col-sm-12">
			<ul>
				<li>Approve - adds a photo to your gallery</li>
				<li>Remove - removes a photo from your gallery</li>
				<li>Delete - deltes a photo <em>permanently</em> from your gallery</li>
			</ul>
		</div>
	</div>
</div>