<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Requests:</h3>
			<div class='row'>
			<div class="table-responsive col-md-12">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>Topic</th>
				      <th>Requested By</th>
				      <th>Requested</th>
				    </tr>
				  </thead>
				  <tbody id="topics<%= @user.id %>">
				   	<% @topics.each do |val| %>
				   		<tr>
						<td><a href="/topics/<%= val.id %>"><%= val.name %></a></td>
						<td><%= val.request_name %></td>
						<td><%= time_ago_in_words(val.created_at) %></td>
						</tr>
					<% end %>
				  </tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>