<style type="text/css">
	.outer-cont{
		height: 100%;
	}
	.imgDiv{
		width: 350px;
	}
	.imgDiv img{
		width: 100%;
	}
	small{
		margin-left: 2%;
	}
	.hide{
		display: none;
	}
	.profileDiv img{
		max-width: 100%;
		height: auto;
		width: 100%;
   		min-height: 200px;
   		max-height: 200px;
	}
	.profileDiv{
		padding-right: 0px;
		padding-left: 0px;
		height: 100%;
	}
	.userInfo{
   		height: 100%;
		vertical-align: top;
		overflow: scroll;
	}
	.profileHeader{
		text-align: center;
	}
	.profileRow{
		height: 200px;
		margin-left: 0px;
	}
	.meet{
		margin-top: 10px;
		display: block;
	}
	.name{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.about{
		margin-bottom: 0px;
	}
	.specialsRow{
		/*height: 145px;*/
	}
	.specialBox{
		/*border: 1px solid black;*/
		height: 100%;
		min-height: 175px;
		color: white;
		overflow: hidden;
		padding-top: 15px !important;
	}
	.s1{
		background-color: #1eba9b;
	}
	.s2{
		background-color: #5b90b2;
	}
	.s3{
		background-color: #eba10a;
	}
	.s4{
		background-color: #153649;
	}
	.outerCol{
		margin-right: 15px;
		width: 32%;
	}
	.specialBox p{
		margin-bottom: 5px;
	}
	.textbox-n{
		padding: 6px 12px;
    	color: #555;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: white !important;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: white !important;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: white !important;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: white !important;
	}
	.form-control{
		/*margin-bottom: 15px;*/
	}
	.sub-btn{
		width: 100%;
	}
	.searchAs{
		margin-top: 6px;
		padding-left: 27px;
	}
	#myTabs{
		/*background: white;*/
		margin-left: -15px;
		/*margin-bottom: 15px;*/
	}
	.top-group{
		background-color: #608cab;
		color: white;
		padding-top: 15px;
		margin-bottom: 0px;
		padding-bottom: 15px
	}
	.lower-group{
		background-color: #486880;
		padding-bottom: 5px;
	}
	.formOuter{
		/*background-color: white;*/
	}
	.second-group{
		padding-top: 15px;
	}
	.form-group{
		margin-bottom: 0px;
	}
	.myTabs a{
		padding-left: 0px;
		/*font-size: 1.2em;*/
		background-color: #44537c !important;
		border-color: white !important;
		color: white;
		border-bottom: 0px !important;
		margin: 0px !important;
		border-radius: 0px !important;
		padding: 10px 20px !important;
	}
	.myTabs a:hover{
		color: #eba10a;
		background: white !important;
	}
	.myTabs{
		border: 0px;
	}
	.active{
		border: 0px !important;
		background: white;
	}
	#myTabs .active a{
		color: #eba10a !important;
		background: white !important;
	}
	.outer-cont{
    	background: #f1f1f1;
    	padding-top: 15px;
	}
	input{
		background-color: #A5B3C0 !important;
		color: white !important;
	}
	.collapse{
		/*display: block;*/
	}
	datalist{
		/*display: block;*/
	}
	.tiny{
	    color: white;
	    font-size: 0.8em;
	    padding-left: 3px;
	}
	.second-row{
		/*padding-top: 10px;*/
		padding-bottom: 5px;
	}

	.last-group{
		padding-bottom: 5px;
	}

.btn-fare { 
  color: #FFFFFF; 
  background-color: #A5B3C0; 
  border-color: #FFFFFF; 
} 
 
.btn-fare:hover, 
.btn-fare:focus, 
.btn-fare:active, 
.btn-fare.active, 
.open .dropdown-toggle.btn-fare { 
  color: #FFFFFF; 
  background-color: #C8CED4; 
  border-color: #FFFFFF; 
} 
 
.btn-fare:active, 
.btn-fare.active, 
.open .dropdown-toggle.btn-fare { 
  background-image: none; 
} 
 
.btn-fare.disabled, 
.btn-fare[disabled], 
fieldset[disabled] .btn-fare, 
.btn-fare.disabled:hover, 
.btn-fare[disabled]:hover, 
fieldset[disabled] .btn-fare:hover, 
.btn-fare.disabled:focus, 
.btn-fare[disabled]:focus, 
fieldset[disabled] .btn-fare:focus, 
.btn-fare.disabled:active, 
.btn-fare[disabled]:active, 
fieldset[disabled] .btn-fare:active, 
.btn-fare.disabled.active, 
.btn-fare[disabled].active, 
fieldset[disabled] .btn-fare.active { 
  background-color: #A5B3C0; 
  border-color: #FFFFFF; 
} 
 
.btn-fare .badge { 
  color: #A5B3C0; 
  background-color: #FFFFFF; 
}

#air_type{
	background-color: #A5B3C0;
    color: white;
}
.hide{
	display: none;
}
#multiButton{
	margin-right: -15px;
}
#multiDiv{
	padding-right: 0px;
    text-align: right;
}
.del-button{
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
}
.append-div{
	padding-bottom: 0px;
}
.scrolling{
	max-height: 416px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.contact-col h3{
	display: inline-block;
	margin-left: 15px;
}
.contact-col .glyphicon{
	font-size: 1.3em;
	margin-left: 15px;
}
.arrow{
	float: right;
	/*margin-top: 20px;*/
	margin-right: 15px;
}

.contactRow{
    margin-right: -15px;
    background-color: #153649;
    margin-left: 0px;
    /*padding-right: 15px;*/
    color: white;
    /*padding-bottom: 10px;*/
    height: 66px;
}
.contact-col{
	padding-bottom: 10px;
	height: 100%;
}
.arrow-col{
    background-color: rgba(255, 255, 255, 0.1);
}
.blogCont{
	margin: 0px;
	margin-top: 15px;
}
.blogRowHeader{
	margin-right: -15px;
    background-color: #eba10a;
    margin-left: 0px;
    /*padding-right: 15px;*/
    color: white;
    /*padding-bottom: 10px;*/
    height: 66px;
}
.blogContent{
	overflow: hidden;
	/*border: 1px solid black;*/
	height: 110px;
	margin-left: 0px;
	background: white;
	padding: 10px;
	padding-bottom: 0px;
}
.blogContent h4{
	margin: 0px;
	/*font-size: 16px;*/
}
.blogContent p{
	margin: 0px;
	/*font-size: 0.8em*/
}
.blogContent a{
	/*font-size: 0.8em;*/
}
.blogImgCol img{
	height: 100px;
	width: 100%;
}
.blogImgCol{
	padding: 0px;
}
.blog-content-col{
	padding-right: 0px;
}
.myTabs{
	width: 99px;
    text-align: center;
}
.specialWeeklyRow{
	height: 300px;
	/*border: 1px solid black;*/
	margin-top: 15px;
}
.weekly-details{
	position: relative;
	background-color: #4f4f4f;
	height: 100%;
	color: white;
}
.weekly-img{
	height: 100%;
	padding-left: 0px;
	overflow: hidden; 
}
.special-yellow{
    position: absolute;
    bottom: 5px;
    left: 15px;
	color: #eba10a;
}
.vacationRow{
	margin-right: -15px;
    margin-left: -15px !important;
    background-color: #e84c3d;
    color: white;
    height: 200px;
    margin-top: 15px;
}
.vacationRow .contact-col h4{
	margin-left: 15px;
	margin-top: 0px;
}
.vacationRow .contact-col h3{
	margin-top: 65px;
}
.vacationRow .arrow-col .arrow{
	/*margin-top: 79px;*/
}
.vacationRow .arrow-col{
	padding-top: 79px;
}
.faregrabbrRow{
	margin-left: -15px !important;
    background-color: #eba10a;
    height: 90px;
    margin-top: 15px;
    color: white;
    margin-top: 15px;
}
.faregrabbrRow h5{
	margin-left: 15px;
    margin-top: 0px;
}
.faregrabbrRow h4{
	margin-left: 15px;
    margin-top: 25px;
}
.faregrabbrRow .arrow-col .arrow{
	/*margin-top: 30px;*/
}
.faregrabbrRow .arrow-col{
	padding-top: 35px;
}
.faregrabbrWhite{
	background: white;
	color: black;
}
.faregrabbrWhite .arrow-col{
	background-color: rgba(0, 0, 0, 0.1); 
}
.faregrabbrProfile{
	background-color: #06b78d;
	color: white;
}
.car-select{
	background-color: #A5B3C0 !important;
	color: white !important;
}
.btnDivCars{
	padding-right: 30px;
}
.top-group-car{
	padding-bottom: 5px;
}
.last-group-cars{
	/*margin-bottom: 15px;*/
}
.arrow-col{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.arrow-col:hover{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em;
	padding-top: 20px !important;
	padding-right: 13px !important;
}
.hover-arrow{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 20px !important;
	padding-right: 13px !important;
}

.hover-arrow-left{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 20px !important;
	padding-right: 13px !important;
}

.hover-arrow-middle{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 75px !important;
	padding-right: 13px !important;
}

.hover-arrow-right{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 32px !important;
	padding-right: 12px !important;
}

.contactRow .arrow-col{
	padding-top: 20px;
}
.blogCont .arrow-col{
	padding-top: 20px;
}

/*.contact-left-arrow: hover{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 20px !important;
	padding-right: 13px !important;
}*/

#blog-arrow:hover{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 23px !important;
	padding-right: 13px !important;
}

.vacationRow .arrow-col:hover{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 75px !important;
	padding-right: 13px !important;
}
.faregrabbrRow .arrow-col:hover{
	background-color: rgba(255, 255, 255, 0.5) !important; 
	font-size: 1.2em !important;
	padding-top: 32px !important;
	padding-right: 12px !important;
}
.contactRow a{
	color: white;
}
.blogCont a{
	color: white;
}
.vacationRow a{
	color: white;
}
.faregrabbrRow a{
	color: white;
}
.faregrabbrWhite a{
	color: black;
}
.specialBox p{
	font-size: 0.9em;
}
.myTabs a{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.specialBox{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.specialBox:hover{
	opacity: 0.7;
	cursor: pointer;
}

.specialsRow a{
	color: white;
}

.blog-content-col a{
    color: #6a96c5;
}

.weekly-img{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.weekly-img:hover{
	opacity: 0.8;
}

.hover-special{
	opacity: 0.8;
}

.contactRow .contact-col .arrow{
	margin-right: 25%;
}

.faregrabbrRow .contact-col .arrow{
	margin-right: 30%;
}

.vacationRow .arrow-col .arrow {
	margin-right: 30%;
}

@media (max-width: 1480px){
	.faregrabbr_text{
		display: inline;
		margin-left: 3px !important;
	}

	.faregrabbr_h4{
		margin-bottom: 0px;
		/*margin-top: 15px !important*/
		margin-top: 5px !important;
		margin-left: 0px !important;
	}
}

@media (max-width: 1435px) {
	.contact-left-middle h3{
		font-size: 18px;
	}
	.contact-left-middle h4{
		font-size: 14px;
	}
}

@media (max-width: 1331px){
	.specialWeeklyRow h4{
		font-size: 20px !important;
	}
}

@media (max-width: 1244px){
	.weekly-details h5{
		font-size: 11px;
	}
	.specialWeeklyRow h4{
		font-size: 16px !important;
	}
}

@media (max-width: 1214px){
	#contacth3{
		padding: 10px;
	}
	.phone{
		padding-left: 10px;
	}
}

@media (max-width: 1179px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (max-width: 1165px){
	.outerCol{
		width: 31%;
	}
}

@media (max-width: 1146px){
	.faregrabbr_h4{
		font-size: 18px;
	}
}

@media (max-width: 1049px){
	.faregrabbr_h4{
		font-size: 14px;
	}
}

@media (max-width: 1007px) {
	#fareH4{
		font-size: 20px;
		margin-top: 15px !important;
	}
	#contacth3{
		padding: 25px 15px;
	}
	.phone{
		padding-left: 0px;
	}
	.contact-left-middle h3{
		font-size: 24px;
	}
	.contact-left-middle h4{
		font-size: 18px;
	}
	.outerCol{
		width: 100%;
	}
	.profileRow{
		background-color: white;
		margin-left: -15px;
	}
	.contactRow{
		margin-left: -15px;
	}
	.blogCont{
		margin-left: -15px;
	}
	.tabsDiv{
		height: 100%;
		max-height: 100%;
		margin-top: 1%;
	}
	.arrow {
		margin-right: 40% !important;
	}
	.weekly-img img{
		float: right;
    	margin-right: -15px;
	    margin-right: -15px;
	    width: 105%;
	}
	.weekly-img{
		background-color: #4f4f4f;
	}
	.children-col{
		margin-top: 20px;
	}
	.profileDiv img{
		width: auto;
		max-height: 200px;
	}
	.weekly-details h5{
		font-size: 14px !important;
	}
	.specialWeeklyRow h4{
		font-size: 28px !important;
	}
}

@media (max-width: 769px) {
	.weekly-img img{
		width: auto;
		height: 250px;
	}
	.blogContent{
		width: 100%;
	}
	.profileDiv{
		margin-left: -15px;
	}
	.specialsRow{
		height: auto;
	}
	.specialBox{
		padding-bottom: 3%;
	}
	.specialWeeklyRow{
		margin-top: 0px;
	}
	.weekly-details h3{
		margin-top: 0px;
	}
	.weekly-details{
		padding-top: 20px;
	}
	.specialWeeklyRow{
		/*height: 100%;*/
    	background-color: #4f4f4f;
	}
	.special-yellow{
		position: relative;
		left: 0px;
		bottom: 0px;
	}
	.vacationRow{
		margin-top: 0px;
	}
	#multiButton{
		margin-right: 15px
	}
	.dropoff{
		margin-top: 5%
	}
	.blogContent{
		width: 103%;
	}
	.specialWeeklyRow{
		height: 100%;
	}
}

@media (max-width: 756px){
	#contacth3{
		padding: 15px;
	}
}

@media (max-width: 500px){
	.weekly-img img{
		width: auto;
		height: 190px;
	}
	.arrow{
		margin-right: 20% !important;
	}
	.profileDiv img{
		min-height: 100px;
		max-height: 150px;
	}
	.blogImgCol img{
		max-height: 72px;
	}
	.blogCont{
		margin-right: -15px !important;
	}
	.blogRowHeader{
		margin-right: 0px;
	}
	.contact-left-middle h3{
		margin-top: 60px !important;
	}
}

@media (max-width: 473px){
	#fareH4{
		font-size: 18px;
	}
}

.lefth3{
	font-size: 20px;
}

.modal-header{
    background-color: #153649;
    color: white;
}

.modalh3{
    display: inline-block;
    margin-left: 2%;
}

#contact-close{
	color: white;
	opacity: 1;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

#contact-close:hover{
	color: white;
	text-shadow: none;
	/*opacity: 0.6;*/
}

.confirm-close{
	color: black;
	opacity: 1;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.confirm-close:hover{
	color: black;
	text-shadow: none;
	/*opacity: 0.6;*/
}

.modal-header .glyphicon{
	margin-left: 15px;
	font-size: 1.3em;
}

.modal-body input{
	margin-top: 2%;
}

.modal-body textarea{
	margin-top: 2%;
}

.modal-body input{
	background-color: white !important;
	color: black !important;
}

.contact-sub{
	text-align: right;
	margin-top: 2%;
}

.btn{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

#confirmModalLabel{
	display: inline-block;
}

#confirm-header{
	background: white;
	color: black;
	text-align: center;
}

.photoRow{
	background-color: #06b78d;
	margin-top: 15px;
}

.approve-header{
	margin-left: 15px;
	margin-bottom: 0px;`
}

.notificationRow{
	text-align: center;
}

.special-img{
	width: 100%;
    height: 100%;
}

.weekly-img{
	padding-right: 0px;
}

.blog-header-front{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.blog-a{
	color: #333 !important;
}

.blog-a:hover{
	text-decoration: none;
}

.blue{
	color: #337ab7;
}

.blue:hover{
	text-decoration: none !important;
}

.blog-image{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.hover-blog{
	opacity: 0.65;
}

.notificationRow a:hover{
	text-decoration: none;
}

.phone{
	font-size: 1em;
    color: white;
    display: inline-block;
    margin-left: 0px;
/*	bottom: 0;
	left: 5;
	position: absolute;*/
}

#userPhone{
	width: 100%;
}

#phone-call{
	position: absolute;
	top: 5px;
	right: 5px;
	/*margin-left: 0px;*/
}

.phone-glyphicon{
	margin-left: 0px !important;
	/*font-size: 10px;*/
}
.phone-div{
	display: inline-block;
	margin-left: 15px;
}

.tiny-phone{
	font-size: 12px !important;
}

.specialBox p{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.specialHeader{
	margin-bottom: 0px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
}

.price-p{
	font-size: 26px !important;
	text-align: center;
	margin-bottom: 0px !important;
}

.approve-header{
	margin-top: 15px;
}

.fare-sub-row{
	margin-bottom: 10px;
}

.faregrabbr_logo{
	width: 100px;
	display: inline-block;
	/*margin-left: 15px;*/
}

.faregrabbr_col{
	padding-left: 30px;
}

.special-box-p{
	text-align: center;
	font-size: 14px !important;
}

.specialBox p{
	text-align: center;
}

.faregrabbr_text{
	display: inline;
	margin-left: 3px !important;
}

#fareH4{
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
}

/* Profile Page */

*{
/*   color: orange !important; */
}

body {
  font-family: 'Roboto', sans-serif;
}

.h1, h1 {
  font-family: 'Roboto', sans-serif;
}

.h2, h2 {
  font-family: 'Roboto', sans-serif;
}

.h3, h3 {
  font-family: 'Roboto', sans-serif;
}

.h4, h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.h5, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.userInfo {
  color: #153649;
  background-color: #fff;
}

.meet {
  margin-top: 15px;
  font-weight: bold;
  font-size: 12px;
  color: #888;
}

#phone-call {
  border-color: #153649;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all .3s;
  padding: 0px;
}
#phone-call:hover {
  
}

.btn {
  border-radius: 2px;
}

.btn-contact {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);  
}

.btn-contact:active .btn-contact.active {
  transform: translateY(1px);
}

.btn-contact:hover, .btn-contact:focus, .open .dropdown-toggle.btn-contact {
  background-color: #2d4a5c;
  border-color: #2d4a5c;
  box-shadow: none;
  transform: translateY(1px);
}

.lefth3 {
  font-size: 16px;
  margin: auto;
  padding: 25px 15px;
}

.contactRow .arrow-col {
    padding-top: 23px;
}

.contactRow .contact-col .arrow {
    margin-right: 30%;
}

.arrow-col:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.2em;
  padding-top: 20px !important;
  padding-right: 13px !important;
}
  

.blog-header-front {
  color: #153649;
  font-size: 14px;
   font-weight: bold;
}

.blogContent p {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5px;
}

.blogContent p:hover {
  text-decoration: underline;
}

.blogContent:after {
  border-bottom: 1px solid #ccc;
}

.contact-col {
    padding-bottom: 0;
}

.contact-col h3 {
    margin-left: 5px;
}

.contact-col .glyphicon {
    font-size: 1.2em;
}

.price-p {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 5px;
    margin-top: 5px;
}

.specialBox {
   padding: 5px 15px;
}

.specialWeeklyRow h4 {
  font-size: 28px;
}

.specialWeeklyRow h5 {
  line-height: 20px;
}

.weekly-details {
  padding: 10px 15px;
}

.weekly-details button {
    display: inline-block;
  background-color: #eba10a;
    padding: 6px 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.specialWeeklyRow button:hover > .weekly-details button {
  transform: translateY(1px);
  box-shadown:none;
  background-color: #de9500;
} 

.weekly-img {
  opacity: 1;
}

.vacationRow .contact-col h3 {
  margin-left: 15px;
 }

.vacationRow .contact-col h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}

.faregrabbrRow h4 {
    margin-top: 20px;
}

.faregrabbrRow h5 {
  color: rgba(255, 255, 255, 0.9);
}

.faregrabbrWhite h4 {
   color: #153649
}

.faregrabbrWhite h5 {
   color: rgba(21, 54, 73, 0.9);
}

.user-special-row{
	min-height: 300px;
	background-color: #4f4f4f;
	color: white;
	margin-top: 15px;
}

.user-special-col{
	min-height: 301px;
	background-color: #4f4f4f;
}

.user-special-img{
	padding: 0px
}

.user-special-img img{
	width: 100%;
	height: auto;
	min-height: 300px;
}

.user-special-btn-col button{
	/*width: 100%;*/
    position: absolute;
    bottom: 10px;
}

/*.user-special-description{
	height: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
}*/

.user-a{
	color: white;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.user-a img{
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.user-a:hover{
	color: white !important;
	opacity: 1;
}

.user-a img:hover{
	opacity: 0.8;
}

</style>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container-fluid outer-cont" data-turbolinks="false">
	<div class="row outerRow">
		<div class="col-lg-4 col-md-12 outerCol">
			<div class="row profileRow">
				<div class="col-sm-4 col-md-6 col-xs-5 profileDiv">
				<% if @page_user.avatar.url == '/avatars/original/missing.png' %>
					<%= image_tag 'placeholder_user', :class => "img-fluid" %>
				<% else %>
					<%= image_tag @page_user.avatar.url(:medium), :class => "img-fluid" %>
				<% end %>
				</div>
				<div class="col-sm-8 col-md-6 col-xs-7 userInfo">
					<span class="meet">Meet Your Agent:</span>
					<h4 class="name"><%= @page_user.first.titleize %> <%= @page_user.last.titleize %></h4>
					<p class="about"><%= @page_user.about %></p>
<!-- 						<button id="phone-call" class="btn btn-contact" data-toggle="modal" data-target="#callModal"><span class="glyphicon glyphicon-earphone phone-glyphicon" aria-hidden="true"></span></button> -->
				</div>
			</div>
			<div class="row contactRow">
				<a href="#" data-toggle="modal" data-target="#contactModal"><div class="col-sm-10 col-xs-10 contact-col contact-left">
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><h3 id="contacth3" class="lefth3">Contact <%= @page_user.first.titleize %></h3>
					<div class="phone-div">
						<small class="phone"><span class="glyphicon glyphicon-earphone phone-glyphicon tiny-phone" aria-hidden="true"></span> <%= number_to_phone(@page_user.phone_number) %></small>
					</div>
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col contact-arrow contact-left-arrow">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
			</div>
			<div class="row contactRow photoRow" data-no-turbolinks="true">
				<a href="/gallery/<%= @page_user.username %>" data-turbolinks="false"><div class="col-sm-10 col-xs-10 contact-col contact-left">
					<span class="glyphicon glyphicon-camera" aria-hidden="true"></span><h3 class="lefth3">Client Photo Gallery</h3>
					<% if @page_user.id == session[:user_id] %>
					<% end %>
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col contact-arrow contact-left-arrow">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
			</div>
			<% if @unapproved_photos && @unapproved_photos.length > 0 %>
				<div class="row notificationRow">
				<a href="/gallery/edit/<%= @current_user.username %>"><h5 class="approve-header">You have <%= @unapproved_photos.length %> photo(s) to approve!</h5></a>
				</div>
			<% end %>
			<div class="row blogCont">
				<div class="row blogRowHeader">
				<a href="/blogs"><div class="col-sm-10 col-xs-10 contact-col contact-left">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><h3 class="lefth3">Travel Blog</h3>
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col contact-arrow contact-left-arrow" id="blog-arrow">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
				</div>
				<% if @blogs && @blogs.length != 0 %>
					<a href="/blogs/<%= @blogs[0].id %>" class="blog-a"><div class="row blogContent">
						<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 blogImgCol">
							<%= image_tag(@blogs[0].image.url, :class => 'img-fluid blog-image') %>
						</div>
						<div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 blog-content-col">
							<h4 class="blog-header-front"><%= @blogs[0].title.titleize %></h4>
							<h5>Written by <%= @blogs[0].author.titleize %></h5>
							<p class="blue">Read More...</p>
						</div>
					</div></a>
					<a href="/blogs/<%= @blogs[1].id %>" class="blog-a"><div class="row blogContent">
						<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 blogImgCol">
							<%= image_tag(@blogs[1].image.url, :class => 'img-fluid blog-image') %>
						</div>
						<div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 blog-content-col">
							<h4 class="blog-header-front"><%= @blogs[1].title.titleize %></h4>
							<h5>Written by <%= @blogs[1].author.titleize %></h5>
							<p class="blue">Read More...</p>
						</div>
					</div></a>
				<% end %>
<!-- 				<div class="row blogContent">
					<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 blogImgCol">
						<%#= image_tag('golden.jpg', :class => 'img-fluid') %>
					</div>
					<div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 blog-content-col">
						<nobr><h4 class="blog-header">GOLDEN ANNIVERSARY TRAVEL VACATION IDEAS</h4></nobr>
						<h5>Written by Kanisha L.</h5>
						<a href="#">Read More...</a>
					</div>
				</div> -->
			</div>
		</div>
		<!-- Data to send to scrape view -->
				<form action="/fj_special" method="post" class="first_special_form">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="title" type="hidden" value="<%= @hawaii_hotelname%>">
				<input name="price" type="hidden" value="<%= @hawaii_price %>">
				<input name="flights" type="hidden" value="<%= @hawaii_nights %>">
				<input name="includes" type="hidden" value="<%= @hawaii_includes %>">
				<input name="ref" type="hidden" value="<%= @hawaii_href %>">
				<input name="agent_ref" type="hidden" value="<%=  @hawaii_href %>">
				<input name="img_src" type="hidden" value="<%= @hawaii_image_src %>">
				<input name="location" type="hidden" value="Hawaii">
				</form>
				<form action="/fj_special" method="post" class="second_special_form">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="location" type="hidden" value="<%= @second_location %>">
				<input name="title" type="hidden" value="<%= @second_title %>">
				<input name="price" type="hidden" value="<%= @second_price %>">
				<input name="flights" type="hidden" value="<%= @second_flights_nights %>">
				<input name="date" type="hidden" value="<%= @second_date %>">
				<input name="ref" type="hidden" value="<%= @second_detail_link %>">
				<input name="agent_ref" type="hidden" value="<%=  @second_agent_ref %>">
				<input name="img_src" type="hidden" value="<%= @second_image_src %>">
				</form>
				<form action="/fj_special" method="post" class="third_special_form">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="location" type="hidden" value="<%= @third_location %>">
				<input name="title" type="hidden" value="<%= @third_title %>">
				<input name="price" type="hidden" value="<%= @third_price %>">
				<input name="flights" type="hidden" value="<%= @third_flights_nights %>">
				<input name="date" type="hidden" value="<%= @third_date %>">
				<input name="ref" type="hidden" value="<%= @third_detail_link %>">
				<input name="agent_ref" type="hidden" value="<%=  @third_agent_ref %>">
				<input name="img_src" type="hidden" value="<%= @third_image_src %>">
				</form>
				<form action="/fj_special" method="post" class="fourth_special_form">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="location" type="hidden" value="<%= @fourth_location %>">
				<input name="title" type="hidden" value="<%= @fourth_title %>">
				<input name="price" type="hidden" value="<%= @fourth_price %>">
				<input name="flights" type="hidden" value="<%= @fourth_flights_nights %>">
				<input name="date" type="hidden" value="<%= @fourth_date %>">
				<input name="ref" type="hidden" value="<%= @fourth_detail_link %>">
				<input name="agent_ref" type="hidden" value="<%=  @fourth_agent_ref %>">
				<input name="img_src" type="hidden" value="<%= @fourth_image_src %>">
				</form>
		<!--  -->
		<div class="col-lg-4 col-md-12 outerCol" data-no-turbolinks="true">
			<div class="row specialsRow">
				<div class="col-sm-4 col-xs-12 specialBox s1 first_special_a">
				<h4 class="specialHeader">Hawaii</h4>
				<p><%= @hawaii_hotelname %></p>
				<p class="price-p">$<%= @hawaii_price %></p>
				<p class="special-box-p"><%= @hawaii_nights %></p>
				<p class="special-box-p"><%= @hawaii_includes[8..-1] %></p>
				</div>
				<div class="col-sm-4 col-xs-12 specialBox s2 second_special_a">
				<h4 class="specialHeader"><%= @second_location %></h4>
				<p><%= @second_title %></p>
				<p class="price-p"><%= @second_price %></p>
				<p class="special-box-p"><%= @second_flights_nights.downcase %></p>
				<p class="special-box-p"><%= @second_date %></p>
				</div>
				<div class="col-sm-4 col-xs-12 specialBox s3 third_special_a">
				<h4 class="specialHeader"><%= @third_location %></h4>
				<p><%= @third_title %></p>
				<p class="price-p"><%= @third_price %></p>
				<p class="special-box-p"><%= @third_flights_nights.downcase %></p>
				<p class="special-box-p"><%= @third_date %></p>
				</div>
			</div>
			<a href="/specials/<%= @page_user.id %>/<%= @special.id %>" class="user-a"><div class="row user-special-row">
				<div class="col-md-4 user-special-col">
					<h4>Special of the Week</h4>
					<h5><%= @special.title %></h5>
					<h5><%= @special.depart.strftime("%m/%d/%y") %> - <%= @special.return.strftime("%m/%d/%y") %></h5>
					<h5><%= number_to_currency(@special.price) %> pp</h5>
					<p class="user-special-description"></p>
					<div class="user-special-btn-col">
					<button class="btn btn-yellow">Learn More</button>
					</div>
				</div>
				<div class="col-md-8 user-special-img">
					<%= image_tag(@special.image.url, class: 'img-fluid, user-special-img-image') %>
				</div></a>
			</div>	
			<div class="row vacationRow">
				<a href="/quote"><div class="col-sm-10 col-xs-10 contact-col contact-left-middle">
					<h3>Vacation Quote Request</h3>
					<h4>Please give me ideas and prices</h4>
					<!-- <h4>Get a quote now</h4> -->
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 outerCol formOuter">
			<div class="tabsDiv">

					  <!-- Nav tabs -->
					  <ul id="myTabs" class="nav nav-tabs" role="tablist">
					    <li class="myTabs active" role="presentation"><a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a></li>
					    <li class="myTabs" role="presentation"><a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hotels</a></li>
					    <li class="myTabs" role="presentation"><a href="#cars" aria-controls="cars" role="tab" data-toggle="tab">Cars</a></li>
					    <!-- <li class="myTabs" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cruises / Vacations</a></li> -->
					  </ul>

			<!-- Tab panes -->
			<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="flights">
				<form id="regularSearchForm" method="post" action="https://evov2.faregrabbr.com/remoteflightmultisearch.php?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiYXJjaGVyX2FwaUBmYXJlZ3JhYmJyLmNvbSIsImlzc3VlX3RpbWUiOiIyMDE3LTA1LTMwIDIyOjA5OjAzIiwiaXAiOiI3My4yMjMuMTg1LjUwIn0.g-7nfu7AzzO6dToyu3o6cc6T9BynnCXz3Tc26_2lT9g" novalidate target="_blank" class="form-horizontal">
				<div class="form-group top-group">
				    <label for="type" class="col-md-6 searchAs">Search As</label>
				    <div class="col-md-6">
						<select name="type" id="air_type" class="form-control">
							<option value="roundtrip">Round Trip</option>
							<option value="oneway">One Way</option>
							<option value="multicity">Multi City</option>
						</select>
					</div>
				</div>
				<div class="row bottom-group hide">
				</div>
				<div class="form-group second-group lower-group">
				    <!-- <label for="origin" class="col-lg-4 control-label col-md-6">Origin</label> -->
				    <div class="col-md-6">
						<input type="text" name="citypairs[0][origin]" class="form-control" id="origin" list="origin-list" autocomplete="off" placeholder="Origin">
					<span class="tiny">Origin Airport Code</span>
					</div>
				    <div class="col-md-6 destination-col">
						<input type="text" name="citypairs[0][destination]" class="form-control" id="destination" list="dest-list" autocomplete="off" placeholder="Destination">
						<span class="tiny">Destination Airport Code</span>
					</div>
				</div>
				<div class="form-group lower-group second-row">
				    <!-- <label for="depart" class="col-lg-4 control-label col-md-6">Depart</label> -->
				    <div class="col-md-6">
						<input type="date" class="form-control" name="citypairs[0][departdate]" id="depart" min="<%= Date.today %>" allowInputToggle="true">
						<span class="tiny">Depart Date</span>
					</div>
				    <div class="col-md-6 return-col">
						<input class="form-control" type="date" name="citypairs[0][returndate]" class="form-control" id="return" min="<%= Date.today %>">
						<span class="tiny">Return Date</span>
					</div>
				</div>
				<div class="append-div hide lower-group">
				</div>
				<!-- <div class="row"> -->
					<div id="multiDiv" class="form-group col-sm-12 btnDiv multiDiv hide lower-group">
						<button id="multiButton" class="multi-button btn btn-sm hide addOrigin btn-sample btn-fare" type="button">Add City</button>
					</div>
				<!-- </div> -->
				<div class="row bottom-group hide lower-group">
				</div>
<!-- 				<div class="form-group return-form-group">
				    <label for="return" class="col-lg-4 control-label col-md-6">Return</label>
				</div> -->
				<div class="form-group lower-group last-group">
				    <!-- <label for="adults" class="col-lg-4 control-label col-md-6">Adults</label> -->
				    <div class="col-md-6">
						<input placeholder="1" class="textbox-n form-control" type="number" name="adults" id="adults" min="1">
						<span class="tiny">Adults</span>
					</div>
				    <div class="col-md-6 children-col">
						<input placeholder="0" class="textbox-n form-control" type="number" name="children" id="children" min="0">
						<span class="tiny">Children</span>
					</div>
				</div>
				<input type="hidden" name="isWidget" value="true">
				<div class="form-group lower-group fare-sub-row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6 btnDiv fare-sub-row">
						<button type="submit" id="flightButton" class="btn btn-fare sub-btn">CHECK NOW</button>
					</div>
				</div>
			</form>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="home">
				<form name="VPSearchForm"  method="post" action="http://www.latesttraveloffers.com/ci/enter.asp?site=VTHARC&amp;account=&amp;UseSearchApi=true" id="vacationForm" target="_blank">
				<input type="hidden" name="srchDestText">
				<div class="form-group">
				    <label for="srchTravType" class="col-lg-4 col-md-6 control-label">Travel Type</label>
				    <div class="col-lg-8 col-md-6">
						<select name="srchTravType" class="VP-SearchInput form-control">
							<option value="CRVA">Cruises/Vacation Pkgs</option>
							<option value="CRUZ">Cruises Only</option>
							<option value="PKG">Vacation Pkgs Only</option>
							<option value="TOUR">Tours Only</option>
							<option value="AUTO">International Auto</option>
							<option value="LODG">Lodging</option>
							<option value="AIR">Air Only</option>
						</select>
					</div>
				</div>
				<div class="form-group">
				    <label for="srchDestText1" class="col-lg-4 control-label col-md-6">Destination</label>
				    <div class="col-lg-8 dest col-md-6 dropoffCont">
						<select name="srchDestText1" class="VP-SearchInput form-control" onchange="document.VPSearchForm.srchDestText2.value='';">
							<option value="">Any Destination</option>
							<option value="Africa">Africa</option>
							<option value="Alaska">Alaska</option>
							<option value="Antarctica">Antarctica</option>
							<option value="Aruba">Aruba</option>
							<option value="Asia">Asia</option>
							<option value="Australia">Australia</option>
							<option value="Bahamas">Bahamas</option>
							<option value="Baltic">Baltic</option>
							<option value="Bermuda">Bermuda</option>
							<option value="Britain and Ireland">Britain and Ireland</option>
							<option value="California">California</option>
							<option value="Canada and New England">Canada and New England</option>
							<option value="Western Canada">Canada (Western)</option>
							<option value="Cancun">Cancun</option>
							<option value="Caribbean">Caribbean</option>
							<option value="Western Caribbean">Caribbean (Western)</option>
							<option value="Eastern Caribbean">Caribbean (Eastern)</option>
							<option value="Southern Caribbean">Caribbean (Southern)</option>
							<option value="Central America">Central America</option>
							<option value="Europe">Europe</option>
							<option value="Florida">Florida</option>
							<option value="Hawaii">Hawaii</option>
							<option value="Jamaica">Jamaica</option>
							<option value="Las Vegas">Las Vegas</option>
							<option value="Mediterranean">Mediterranean</option>
							<option value="Mexican Riviera">Mexican Riviera</option>
							<option value="Mexico">Mexico</option>
							<option value="Middle East">Middle East</option>
							<option value="New Zealand">New Zealand</option>
							<option value="Northern Europe">Northern Europe</option>
							<option value="Panama Canal">Panama Canal</option>
							<option value="South America">South America</option>
							<option value="South Pacific">South Pacific</option>
							<option value="Transatlantic">Transatlantic</option>
							<option value="USA">USA</option>
							<option value="Eastern US">USA (Eastern)</option>
							<option value="Western US">USA (Western)</option>
						</select>
						<span class="tiny-dropoff tiny-or">or</span>
					</div>
				</div>
				<div class="form-group">
				    <label for="srchDestText2" class="col-lg-4 control-label col-md-6">Type in Destination</label>
				    <div class="col-lg-8 col-md-6">
						<input id="destinationSearch" type="text" class="VP-SearchInput form-control" name="srchDestText2">
					</div>
				</div>
				<div class="form-group">
				    <label for="srchStartTravDate" class="col-lg-4 control-label col-md-6">Departure Date</label>
				    <div class="col-lg-8 col-md-6">
						<select name="srchStartTravDate" class="VP-SearchInput form-control">
							<option value="">Any Date</option>
							<option value="04*2016*">April 2016</option>
							<option value="05*2016*">May 2016</option>
							<option value="06*2016*">June 2016</option>
							<option value="07*2016*">July 2016</option>
							<option value="08*2016*">August 2016</option>
							<option value="09*2016*">September 2016</option>
							<option value="10*2016*">October 2016</option>
							<option value="11*2016*">November 2016</option>
							<option value="12*2016*">December 2016</option>
							<option value="01*2017*">January 2017</option>
							<option value="02*2017*">February 2017</option>
							<option value="03*2017*">March 2017</option>
							<option value="04*2017*">April 2017</option>
							<option value="05*2017*">May 2017</option>
							<option value="06*2017*">June 2017</option>
							<option value="07*2017*">July 2017</option>
							<option value="08*2017*">August 2017</option>
							<option value="09*2017*">September 2017</option>
							<option value="10*2017*">October 2017</option>
							<option value="11*2017*">November 2017</option>
							<option value="12*2017*">December 2017</option>
							<option value="01*2018*">January 2018</option>
							<option value="02*2018*">February 2018</option>
							<option value="03*2018*">March 2018</option>
						</select>
					</div>
				</div>
				<div class="form-group">
				    <label for="srchTravLength" class="col-lg-4 control-label col-md-6">Travel Length</label>
				    <div class="col-lg-8 col-md-6">
						<select name="srchTravLength" id="srchTravLength" class="VP-SearchInput form-control">
							<option value="">Any Length</option>
							<option value="0*2*">0-2 nights</option>
							<option value="3*6*">3-6 nights</option>
							<option value="7*9*">7-9 nights</option>
							<option value="10*14*">10-14 nights</option>
							<option value="14**">over 14 nights</option>
						</select>
					</div>
				</div>
				<div class="form-group">
				    <div class="col-sm-12 btnDiv">
						<button class="btn btn-sm sample" id="vacationButton" type="submit">Search</button>
					</div>
				</div>
				</form> 
			</div>
			<div role="tabpanel" class="tab-pane fade" id="hotels">
				<form id="hotelSearchForm" method="post" action="https://evov2.faregrabbr.com/remotehotelsearchwidget.php?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiYXJjaGVyX2FwaUBmYXJlZ3JhYmJyLmNvbSIsImlzc3VlX3RpbWUiOiIyMDE3LTA1LTMwIDIyOjA5OjAzIiwiaXAiOiI3My4yMjMuMTg1LjUwIn0.g-7nfu7AzzO6dToyu3o6cc6T9BynnCXz3Tc26_2lT9g" novalidate target="_blank" class="form-horizontal">
					<input id="locationType" type="hidden" name="locationType" value="">
				<div class="form-group top-group">
				    <!-- <label for="place" class="col-lg-4 control-label col-md-6">City / Airport</label> -->
				    <div class="col-sm-12">
						<input type="text" name="place" class="form-control" id="place" list="place-list" autocomplete="off" placeholder="City / Airport">
						<span class="tiny">City / Airport</span>
					</div>
				</div>
				<div class="form-group lower-group second-group">
				    <!-- <label for="checkin" class="col-lg-4 control-label col-md-6">Check In</label> -->
				    <div class="col-sm-6">
						<input type="date" name="checkin" class="form-control" id="checkin" min="<%= Date.today %>">
						<span class="tiny">Check In</span>
					</div>
				    <div class="col-sm-6">
						<input type="date" name="checkout" class="form-control" id="checkout" min="<%= Date.today %>">
						<span class="tiny">Check Out
					</div>
				</div>
				<div class="form-group lower-group">
				    <!-- <label for="numrooms" class="col-lg-4 control-label col-md-6">Rooms</label> -->
				    <div class="col-sm-6">
						<input type="number" name="numrooms" class="form-control" id="numrooms" min="1" value="1">
						<span class="tiny">Rooms</span>
					</div>
				    <div class="col-sm-6">
						<input type="number" name="adults" class="form-control" id="adults-hotel" min="1" value="1">
						<span class="tiny">Guests</span>
					</div>
				</div>
				<input type="hidden" name="isWidget" value="true">
				<div class="form-group lower-group">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6 btnDiv fare-sub-row">
						<button type="submit" id="flightButton" class="btn btn-fare sub-btn">CHECK NOW</button>
					</div>
				</div>
			</form>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="cars">
					<form id="carSearchForm" method="post" action="https://evov2.faregrabbr.com/remotecarsearchwidget.php?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiYXJjaGVyX2FwaUBmYXJlZ3JhYmJyLmNvbSIsImlzc3VlX3RpbWUiOiIyMDE3LTA1LTMwIDIyOjA5OjAzIiwiaXAiOiI3My4yMjMuMTg1LjUwIn0.g-7nfu7AzzO6dToyu3o6cc6T9BynnCXz3Tc26_2lT9g" novalidate target="_blank" class="form-horizontal">
					<input id="locationType" type="hidden" name="locationType" value="">
				<div class="form-group top-group top-group-car">
				    <!-- <label for="pickup_location" class="col-lg-4 control-label col-md-6">Pickup Airport Code</label> -->
				    <div class="col-sm-6">
						<input type="text" name="pickup_location" class="form-control" id="pickup_location" list="pickup-list" autocomplete="off" placeholder="Pickup Airport Code">
						<!-- <span class="tiny">Pickup Airport Code</span> -->
					</div>
					<div class="col-sm-6">
						<input type="text" name="dropoff_location" class="form-control dropoff" id="dropoff_location" list="dropoff-list" autocomplete="off" placeholder="Dropoff Airport Code">
						<span class="tiny">(If different from pickup location)</span>
					</div>
				</div>
				<input type="hidden" name="pickup_locationType" value="Airport">
				<input type="hidden" name="dropoff_locationType" value="Airport">
				<div class="form-group  second-group lower-group">
				    <div class="col-sm-6">
						<input type="date" name="pickup_date" class="form-control" id="pickup_date" min="<%= Date.today %>">
						<span class="tiny">Pickup Date</span>
					</div>
					 <div class="col-sm-6">
				    	<select name="pickup_time" class="form-control car-select" id="pickup_time">
				    		<option value="12:00:00">Noon</option>
				    		<option value="13:00:00">1:00 PM</option>
				    		<option value="14:00:00">2:00 PM</option>
				    		<option value="15:00:00">3:00 PM</option>
				    		<option value="16:00:00">4:00 PM</option>
				    		<option value="17:00:00">5:00 PM</option>
				    		<option value="18:00:00">6:00 PM</option>
				    		<option value="19:00:00">7:00 PM</option>
				    		<option value="20:00:00">8:00 PM</option>
				    		<option value="21:00:00">9:00 PM</option>
				    		<option value="22:00:00">10:00 PM</option>
				    		<option value="23:00:00">11:00 PM</option>
				    		<option value="00:00:00">Midnight</option>
				    		<option value="01:00:00">1:00 AM</option>
				    		<option value="02:00:00">2:00 AM</option>
				    		<option value="03:00:00">3:00 AM</option>
				    		<option value="04:00:00">4:00 AM</option>
				    		<option value="05:00:00">5:00 AM</option>
				    		<option value="06:00:00">6:00 AM</option>
				    		<option value="07:00:00">7:00 AM</option>
				    		<option value="08:00:00">8:00 AM</option>
				    		<option value="09:00:00">9:00 AM</option>
				    		<option value="10:00:00">10:00 AM</option>
				    		<option value="11:00:00">11:00 AM</option>
				    	</select>
				    	<span class="tiny">Pickup Time</span>
					</div>
				</div>
				<div class="form-group lower-group last-group-cars">
				    <div class="col-sm-6">
						<input type="date" name="dropoff_date" class="form-control" id="dropoff_date" min="<%= Date.today %>">
						<span class="tiny">Dropoff Date</span>
					</div>
					<div class="col-sm-6">
				    	<select name="dropoff_time" class="form-control car-select" id="pickup_time">
				    		<option value="12:00:00">Noon</option>
				    		<option value="13:00:00">1:00 PM</option>
				    		<option value="14:00:00">2:00 PM</option>
				    		<option value="15:00:00">3:00 PM</option>
				    		<option value="16:00:00">4:00 PM</option>
				    		<option value="17:00:00">5:00 PM</option>
				    		<option value="18:00:00">6:00 PM</option>
				    		<option value="19:00:00">7:00 PM</option>
				    		<option value="20:00:00">8:00 PM</option>
				    		<option value="21:00:00">9:00 PM</option>
				    		<option value="22:00:00">10:00 PM</option>
				    		<option value="23:00:00">11:00 PM</option>
				    		<option value="00:00:00">Midnight</option>
				    		<option value="01:00:00">1:00 AM</option>
				    		<option value="02:00:00">2:00 AM</option>
				    		<option value="03:00:00">3:00 AM</option>
				    		<option value="04:00:00">4:00 AM</option>
				    		<option value="05:00:00">5:00 AM</option>
				    		<option value="06:00:00">6:00 AM</option>
				    		<option value="07:00:00">7:00 AM</option>
				    		<option value="08:00:00">8:00 AM</option>
				    		<option value="09:00:00">9:00 AM</option>
				    		<option value="10:00:00">10:00 AM</option>
				    		<option value="11:00:00">11:00 AM</option>
				    	</select>
				    	<span class="tiny">Dropoff Time</span>
				    </div>
				</div>
				<input type="hidden" name="isWidget" value="true">
				<div class="form-group lower-group">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6 btnDiv btnDivCars fare-sub-row">
						<button type="submit" id="flightButton" class="btn btn-fare sub-btn">CHECK NOW</button>
					</div>
				</div>
				</form>
			</div>
			</div>
			</div>
			<div class="row faregrabbrRow faregrabbrWhite">
				<a href="https://www.faregrabbr.com" target="_blank"><div class="col-sm-10 col-xs-10 contact-col contact-left-right faregrabbr_col">
					<h4 class="faregrabbr_h4" id="fareH4">Looking for a Lower Airfare?</h4>
					<%= image_tag('faregrabbr.png', class: "faregrabbr_logo") %><h5 class="faregrabbr_text"> can search all airlines for up to 30 days</h5>
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
			</div>
			<div class="row faregrabbrRow">
				<a href="http://www1.latesttraveloffers.com/lton/OfferGroups.asp?site=VTHARC&OfferGroupId=4880" target="_blank""><div class="col-sm-10 col-xs-10 contact-col contact-left-right">
					<h4>Cruise Booking Engine</h4>
					<h5>Explore cruises all over the world</h5>
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
			</div>
			<div class="row faregrabbrRow faregrabbrProfile">
				<a href="http://www1.latesttraveloffers.com/lton/OfferGroups.asp?site=VTHARC&OfferGroupId=891" target="_blank"><div class="col-sm-10 col-xs-10 contact-col contact-left-right">
					<h4>Land Tour Booking Engine</h4>
					<h5>Tour operators worldwide</h5>
				</div>
				<div class="col-sm-2 col-xs-2 contact-col arrow-col">
					<span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
				</div></a>
			</div>
		</div>
	</div>
</div>

<datalist id="origin-list">
</datalist>

<datalist id="dest-list">
</datalist>

<datalist id="place-list">
</datalist>

<datalist id="pickup-list">
</datalist>

<datalist id="dropoff-list">
</datalist>

<!-- Call Modal -->
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><h3 class="modal-title modalh3" id="contactModalLabel">CALL <%= @page_user.first.upcase %></h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
   <form id="callform" role="form" action="/call" method="POST">
  	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
     <input type="hidden" name="salesPhone" id="salesPhone" value="<%= @page_user.phone_number %>">
      <div class="row">
        <div class="form-group">
            <label for="userPhone" class="col-sm-2 control-label">Your Number</label>
            <div class="col-sm-8">
     			<input type="text" name="userPhone" id="userPhone" placeholder="(651)-555-7889">
            </div>
            <div class="col-sm-2 btn-col btn-col-call">
                <button class="btn btn-contact">CALL</button>
            </div>
        </div>
      </div>
<!--       <div class="row contact-sub">
        <div class="form-group">
            <div class="col-sm-12 btn-col btn-col-call">
                <button class="btn btn-contact">CALL</button>
            </div>
        </div> -->
      <!-- </div> -->
    </form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="confirm-header">
        <h3 class="modal-title" id="confirmModalLabel">Thanks!  We'll be in touch</h3>
        <button type="button" class="close confirm-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).on('turbolinks:load',function(){

    $('#callform').on('submit', function(e) {
        // Prevent form submission and repeat clicks
        e.preventDefault();
        // $submit.attr('disabled', 'disabled');

        // Submit the form via ajax
        $.ajax({
            url:'/call',
            method:'POST',
            data: $('#callform').serialize()
        }).done(function(data) {
            alert(data.message);
        }).fail(function() {
            alert('There was a problem calling you - please try again later.');
        }).always(function() {
            // $submit.removeAttr('disabled');
        });

    });

$('.first_special_a').click(function(){
	$('.first_special_form').submit();
})

$('.second_special_a').click(function(){
	$('.second_special_form').submit();
})

$('.third_special_a').click(function(){
	$('.third_special_form').submit();
})

$('.fourth_special_a').click(function(){
	$('.fourth_special_form').submit();
})

$('#callform').validate({
	rules: {
		'userPhone': {
			required: true
		}
	},
    highlight: function (element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    success: function (element) {
        element.closest('.form-group').removeClass('has-error').addClass('has-success');
    }
});

$('.blog-a').hover(
  function() {
  	// console.log('hovering');
    // var arrowCol = $( this ).closest('.arrow-col');
    $(this).find('img').addClass('hover-blog');
  }, function() {
    $(this).find('img').removeClass('hover-blog');
  }
);

$('.weekly-details').hover(
  function() {
  	// console.log('hovering');
    // var arrowCol = $( this ).closest('.arrow-col');
    $(this).siblings('div').addClass('hover-special');
  }, function() {
    $(this).siblings('div').removeClass('hover-special');
  }
);

$('.contact-left').hover(
  function() {
  	// console.log('hovering');
    // var arrowCol = $( this ).closest('.arrow-col');
    $(this).siblings('div').addClass('hover-arrow-left');
  }, function() {
    $(this).siblings('div').removeClass('hover-arrow-left');
  }
);

$('.contact-left-middle').hover(
  function() {
  	// console.log('hovering');
    // var arrowCol = $( this ).closest('.arrow-col');
    $(this).siblings('div').addClass('hover-arrow-middle');
  }, function() {
    $(this).siblings('div').removeClass('hover-arrow-middle');
  }
);

$('.contact-left-right').hover(
  function() {
  	// console.log('hovering');
    // var arrowCol = $( this ).closest('.arrow-col');
    $(this).siblings('div').addClass('hover-arrow-right');
  }, function() {
    $(this).siblings('div').removeClass('hover-arrow-right');
  }
);

$('#place').keyup(function(e) {
	if(e.keyCode == 8){
		if(!$(this).val() || $(this).val().length == 1){
			$('#place-list').empty();
		}
		else{
			var text = $(this).val();
			appendDataPlace(text);
		}
		// console.log('back')
	}
	else{
		var text = $(this).val();
		// console.log("key");
		appendDataPlace(text);
	}
});

var appendDataPlace = function(input){
	$.ajax({
		type: "GET",
		url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + input + "&type=hotel",
		success: function(data){
			$('#place-list').empty();
			for(var j = 0; j < data.length; j++){
				console.log(data[j]['description'])
				var newOption = "<option value='" + data[j]['description'] + "' data-type=" + data[j]['type'] + ">" + data[j]['description'] + "</option>";
				$('#place-list').append(newOption);
			}
		}
	})
}

$("#place").on('input', function () {
    var val = this.value;
    if($('#place-list option').filter(function(){
        return this.value === val;        
    }).length) {
	    $('#place-list option').each(function() {
	    if($(this).val() == val){
	    	// change hidden input to "type" for car
	    	// alert($(this).data('type'));
	    	$('#locationType').val($(this).data('type'))
		   }
		});
    }
});

var x = 0;

$(".addOrigin").on('click', function(){
	x++;
	$('.append-div').removeClass('hide');
	$('.append-div').addClass('block');
	$('.addOrigin').addClass('margin-bottom-2');
	$('.append-div').append("<div class='cont-span'><div class='form-group second-group lower-group'><div class='row delRow'><button class='btn btn-xs btn-danger del-button'>X</button></div><div class='col-md-6'><input type='text' name='citypairs[" + x + "][origin]' class='form-control' id='origin" + x + "' list='origin-list" + x + "' autocomplete='off' placeholder='Origin'><span class='tiny'>Origin Airport Code</span></div><div class='col-md-6 destination-col'><input type='text' name='citypairs[" + x + "][destination]' class='form-control' id='destination" + x + "' list='dest-list" + x + "' autocomplete='off' placeholder='Destination'><span class='tiny'>Destination Airport Code</span></div></div><div class='form-group lower-group second-row'><div class='col-md-6'><input type='date' class='form-control' name='citypairs[" + x + "][departdate]' id='depart" + x + "' min=''><span class='tiny'>Depart Date</span></div></div><datalist id='origin-list" + x + "'></datalist><datalist id='dest-list" + x + "'></datalist></span>");

	var contString = "<div class='cont-span'><div class='form-group second-group lower-group'><div class='row delRow'><button class='btn btn-xs btn-danger del-button'>X</button></div><div class='col-md-6'><input type='text' name='citypairs[" + x + "][origin]' class='form-control' id='origin" + x + "' list='origin-list" + x + "' autocomplete='off' placeholder='Origin'><span class='tiny'>Origin Airport Code</span></div><div class='col-md-6 destination-col'><input type='text' name='citypairs[" + x + "][destination]' class='form-control' id='destination" + x + "' list='dest-list" + x + "' autocomplete='off' placeholder='Destination'><span class='tiny'>Destination Airport Code</span></div></div><div class='form-group lower-group second-row'><div class='col-md-6'><input type'date' class='form-control' name='citypairs[" + x + "][departdate]' id='depart" + x + "' min=''><span class='tiny'>Depart Date</span></div></div><datalist id='origin-list" + x + "'></datalist><datalist id='dest-list" + x + "'></datalist></div>"

	$('.del-button').on('click', function(){
		$(this).parent().parent().parent().remove();
	})

		$("#origin" + x).keyup(function(e) {
		if(e.keyCode == 8){
			if(!$(this).val() || $(this).val().length == 1){
				$("#origin-list" + x).empty();
			}
			else{
				var text = $(this).val();
					$.ajax({
						type: "GET",
						url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + text + "&type=air",
						success: function(data){
							$("#origin-list" + x).empty();
							for(var i = 0; i < data.length; i++){
								console.log(data[i]['description'])
								var newOption = "<option value='" + data[i]['description'] + "'>" + data[i]['description'] + "</option>";
								$("#origin-list" + x).append(newOption);
								console.log("dynamic: I is: " + i + "X is: " + x);
							}
						}
					})
			}
			// console.log('back')
		}
		else{
			var text = $(this).val();
			// console.log("key");
					$.ajax({
						type: "GET",
						url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + text + "&type=air",
						success: function(data){
							$("#origin-list" + x).empty();
							for(var i = 0; i < data.length; i++){
								console.log(data[i]['description'])
								var newOption = "<option value='" + data[i]['description'] + "'>" + data[i]['description'] + "</option>";
								$("#origin-list" + x).append(newOption);
								console.log('dynamic');
							}
						}
					})
		}
	});
	$("#destination" + x).keyup(function(e) {
		if(e.keyCode == 8){
			if(!$(this).val() || $(this).val().length == 1){
				$("#dest-list" + x).empty();
			}
			else{
				var text = $(this).val();
			$.ajax({
				type: "GET",
				url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + text + "&type=air",
				success: function(data){
					$("#dest-list" + x).empty();
					for(var i = 0; i < data.length; i++){
						console.log(data[i]['description'])
						var newOption = "<option value='" + data[i]['description'] + "'>" + data[i]['description'] + "</option>";
						$("#dest-list" + x).append(newOption);
					}
				}
			})
			}
			// console.log('back')
		}
		else{
			var text = $(this).val();
			$.ajax({
				type: "GET",
				url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + text + "&type=air",
				success: function(data){
					$("#dest-list" + x).empty();
					for(var i = 0; i < data.length; i++){
						console.log(data[i]['description'])
						var newOption = "<option value='" + data[i]['description'] + "'>" + data[i]['description'] + "</option>";
						$("#dest-list" + x).append(newOption);
					}
				}
			})
		}
	});
})

var multi = false;

$('#air_type').change(function(){
	if($(this).val() == 'multicity'){
		multi = true;
		$('.top-group').addClass('top-group-border');
		$('.bottom-group').addClass('bottom-group-border');
		$('.bottom-group').removeClass('remove-bottom-margin');
		$('.bottom-group').removeClass('hide');
		$('.bottom-group').addClass('block');
		$('.multi-button').addClass('button-show');
		$('.multi-button').removeClass('hide');
		$('.multiDiv').removeClass('hide');
		$('.multiDiv').addClass('block');
		$('.return-col').removeClass('hide');
		$('.tabsDiv').addClass('scrolling')
	}
	else if($(this).val() == 'oneway'){
		if(multi == true){
			$('.append-div').empty();
			multi = false;
		}
		$('.return-col').addClass('hide');
		$('.return-form-group').addClass('block');
		$('.return-form-group').removeClass('hide');
		$('.top-group').removeClass('top-group-border');
		$('.bottom-group').removeClass('bottom-group-border');
		$('.bottom-group').addClass('remove-bottom-margin');
		$('.multi-button').addClass('hide');
		$('.multi-button').removeClass('button-show');
		$('.multiDiv').addClass('hide');
		$('.multiDiv').removeClass('block');
		$('.tabsDiv').removeClass('scrolling')
	}
	else if($(this).val() == 'roundtrip'){
		if(multi == true){
			$('.append-div').empty();
			multi = false;
		}
		$('.return-form-group').addClass('block');
		$('.return-form-group').removeClass('hide');
		$('.top-group').removeClass('top-group-border');
		$('.bottom-group').removeClass('bottom-group-border');
		$('.bottom-group').addClass('remove-bottom-margin');
		$('.multi-button').addClass('hide');
		$('.multi-button').removeClass('button-show');
		$('.multiDiv').addClass('hide');
		$('.multiDiv').removeClass('block');
		$('.return-col').removeClass('hide');
		$('.tabsDiv').removeClass('scrolling')
	}
	if($(this).val() == "oneway" || $(this).val() == 'multicity'){
		$('.return-form-group').addClass('hide');
		$('.return-form-group').removeClass('block');
	}
})

// Autocomplete AJAX Calls

$('#pickup_location').keyup(function(e) {
	if(e.keyCode == 8){
		if(!$(this).val() || $(this).val().length == 1){
			$('#pickup-list').empty();
		}
		else{
			var text = $(this).val();
			appendDataPickup(text);
		}
		// console.log('back')
	}
	else{
		var text = $(this).val();
		// console.log("key");
		appendDataPickup(text);
	}
});

var appendDataPickup = function(input){
	$.ajax({
		type: "GET",
		url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + input + "&type=car",
		success: function(data){
			$('#pickup-list').empty();
			for(var x = 0; x < data.length; x++){
				console.log(data[x]['description'])
				var newOption = "<option value='" + data[x]['description'] + "'>" + data[x]['description'] + "</option>";
				$('#pickup-list').append(newOption);
			}
		}
	})
}

$('#dropoff_location').keyup(function(e) {
	if(e.keyCode == 8){
		if(!$(this).val() || $(this).val().length == 1){
			$('#dropoff-list').empty();
		}
		else{
			var text = $(this).val();
			appendDataDropoff(text);
		}
		// console.log('back')
	}
	else{
		var text = $(this).val();
		// console.log("key");
		appendDataDropoff(text);
	}
});

var appendDataDropoff = function(input){
	$.ajax({
		type: "GET",
		url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + input + "&type=car",
		success: function(data){
			$('#dropoff-list').empty();
			for(var x = 0; x < data.length; x++){
				console.log(data[x]['description'])
				var newOption = "<option value='" + data[x]['description'] + "'>" + data[x]['description'] + "</option>";
				$('#dropoff-list').append(newOption);
			}
		}
	})
}

$('#origin').keyup(function(e) {
	if(e.keyCode == 8){
		if(!$(this).val() || $(this).val().length == 1){
			$('#origin-list').empty();
		}
		else{
			var text = $(this).val();
			appendDataOrigin(text);
		}
		// console.log('back')
	}
	else{
		var text = $(this).val();
		// console.log("key");
		appendDataOrigin(text);
	}
});

var appendDataOrigin = function(input){
	$.ajax({
		type: "GET",
		url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + input + "&type=air",
		success: function(data){
			$('#origin-list').empty();
			for(var x = 0; x < data.length; x++){
				console.log(data[x]['description'])
				var newOption = "<option value='" + data[x]['description'] + "'>" + data[x]['description'] + "</option>";
				$('#origin-list').append(newOption);
			}
		}
	})
}

$('#destination').keyup(function(e) {
	if(e.keyCode == 8){
		if(!$(this).val() || $(this).val().length == 1){
			$('#dest-list').empty();
		}
		else{
			var text = $(this).val();
			appendDataDest(text);
		}
		// console.log('back')
	}
	else{
		var text = $(this).val();
		// console.log("key");
		appendDataDest(text);
	}
});

var appendDataDest = function(input){
	$.ajax({
		type: "GET",
		url: "https://evov2.faregrabbr.com/remoteautocomplete_places.php?text=" + input + "&type=air",
		success: function(data){
			$('#dest-list').empty();
			for(var x = 0; x < data.length; x++){
				console.log(data[x]['description'])
				var newOption = "<option value='" + data[x]['description'] + "'>" + data[x]['description'] + "</option>";
				$('#dest-list').append(newOption);
			}
		}
	})
}

// Tab Forms

$('.myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

  <% if flash[:sent_mail] %>
    // alert("Thanks!  We'll be in touch");
      $('#confirmModal').modal('toggle');
      <% flash[:sent_mail] = nil %>
  <% end %>

});
</script>