<style type="text/css">
	.top-row{
		margin-top: 15px;
	}
	.container{
		min-height: 550px;
		color: white;
		background-color: #4f4f4f;
		margin-top: 15px;
	}
	.header-row{
	    background-color: #eba10a;
	    margin-top: 0px;
	    height: 66px;
	    padding-top: 20px;
	}
	.title{
		margin-top: 0px;
		text-align: center;
	}
	.img-fluid{
		width: 100%;
		height: auto;
	}
	.price-info{
		text-align: center;
		padding: 10px 15px;
		padding-top: 20px;
		margin: 35px 10px;
		width: 46%;
		background: grey;
		/*min-height: 150px;*/
	}
	.interest-info{
		text-align: center;
		padding: 15px;
		padding-top: 45px;
		margin: 35px 10px;
		width: 46%;
		background: #eba10a;
	}
	.header-col h3, h4{
		/*display: inline-block;*/
/*		margin-bottom: 0px;
		margin-top: 0px;*/
	}
	.header-col h4{
		/*color: #eba10a;*/
		margin-top: 4px;
	}
	.description{
		text-align: justify;
	}
	.box-row{
		height: 175px;
	}
	.box-row .col-sm-6{
		/*height: 100%;*/
		min-height: 200px;
	}
	.special-modal-header{
		font-size: 20px;
	}
	.special-modal-header-background{
		background-color: #EBA10A;
	}
	.modal-target{
		color: white !important;
	}
	.modal-target:hover{
		color: white;
		opacity: 0.7;
	}
	.btn-yellow{
		float: right;
	}
	.special-form{
		padding-right: 30px;
	}
</style>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
	<div class="row header-row">
		<div class="col-sm-12 header-col">
			<h3 class="title"><%= @fj.title %> - <%= @fj.location %></h3>
		</div>
	</div>
	<div class="row top-row">
		<div class="col-sm-6">
			<img class="img-fluid" src="<%= @fj.img_src %>">
			<div class="row box-row">
				<div class="price-info col-sm-6">
					<h5>From</h5>
					<% if @fj.location == "Hawaii" %>
						<h4>$<%= @fj.price %></h4>
						<h5><%= @fj.flights.titleize %></h5>
						<h5><%= @fj.includes[8..-1] %></h5>
					<% else %>
						<h4><%= @fj.price %></h4>
						<h5><%= @fj.flights.titleize %></h5>
						<h5><%= @fj.dates %></h5>
					<% end %>
				</div>
				<a href="#" data-toggle="modal" data-target="#specialModal" class="modal-target"><div class="interest-info col-sm-6">
					<h4>I'm interested in this special!</h4>
				</div></a>
			</div>
		</div>
		<div class="col-sm-6">
			<% if @fj.location == "Hawaii" %>
				<p><%= @description[615..-65] %></p>
			<% else %>
				<p><%= @description %></p>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="specialModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header special-modal-header-background">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><h3 class="modal-title modalh3 special-modal-header" id="contactModalLabel">Contact <%= @page_user.first %> <%= @page_user.last %></h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form action="/interested/funjet" method="post" class="form-horizontal special-form" id="fj-special-form">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="user_id" type="hidden" value="<%= @page_user.id %>">
			<input name="agent_ref" type="hidden" value="<%= @fj.agent_ref %>">
			<div class="row">
				<div class="form-group">
				    <label for="first" class="col-sm-3 control-label">First Name</label>
				    <div class="col-sm-9">
				        <input name="first" type="text" class="form-control" id="first" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="last" class="col-sm-3 control-label">Last Name</label>
				    <div class="col-sm-9">
				        <input name="last" type="text" class="form-control" id="last" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="email" class="col-sm-3 control-label">Email</label>
				    <div class="col-sm-9">
				        <input name="email" type="text" class="form-control" id="email" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="phone_number" class="col-sm-3 control-label">Phone Number</label>
				    <div class="col-sm-9">
				        <input name="phone_number" type="text" class="form-control" id="phone_number" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="message" class="col-sm-3 control-label">Message</label>
				    <div class="col-sm-9">
				        <textarea name="message" class="form-control" id="message" rows="6"></textarea>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <div class="col-sm-12 btn-col btn-col-special">
				        <button class="btn btn-yellow">Send</button>
				    </div>
				</div>
			</div>
			</form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load',function(){

	    $('#fj-special-form').validate({
		      rules: {
		        'first': {
		          required: true
		        }
		      },
	          highlight: function (element) {
	              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	          },
	          success: function (element) {
	              element.closest('.form-group').removeClass('has-error').addClass('has-success');
	          }
		 });

  });

</script>