<style type="text/css">
	.top-row{
		/*margin-top: 15px;*/
	}
	.container{
		min-height: 550px;
		/*color: white;*/
		background-color: white;
		margin-top: 15px;
		padding-bottom: 15px;
	}
	.header-row{
	    background-color: #07549c;
	    color: white;
	    margin-top: 0px;
	    height: 66px;
	    padding-top: 20px;
	}
	.title{
		margin-top: 0px;
		text-align: center;
	}
	.img-fluid{
		width: 100%;
		height: auto;
	}
	.price-info{
		text-align: center;
		padding: 10px 15px;
		padding-top: 20px;
		margin: 0px 10px;
		width: 46%;
		background: grey;
		/*min-height: 150px;*/
	}
	.interest-info{
		text-align: center;
		padding: 15px;
		padding-top: 45px;
		margin: 0px 10px;
		width: 46%;
		background: #eba10a;
	}
	.header-col h3, h4{
		/*display: inline-block;*/
/*		margin-bottom: 0px;
		margin-top: 0px;*/
	}
	.header-col h4{
		/*color: #eba10a;*/
		margin-top: 4px;
	}
	.description{
		text-align: justify;
	}
	.box-row{
		/*height: 175px;*/
	}
	.box-row .col-sm-6{
		/*height: 100%;*/
		min-height: 200px;
	}
	.special-modal-header{
		font-size: 20px;
	}
	.special-modal-header-background{
		background-color: #07549c;
	}
	.modal-target{
		color: white !important;
	}
	.modal-target:hover{
		color: white;
		opacity: 0.7;
	}
	.btn-contact-modal{
		float: right;
	}
	.special-form{
		padding-right: 30px;
	}
	.mexico-img{
		max-height: 250px;
	}
	.desc-row{
		margin: 15px 0px;
	}
	.img-col{
		padding-right: 0px;
	}
	.info-col{
	    padding-left: 0;
	    border: 1px solid #ccc;
	    padding: 15px;
		background-color: #f1f1f1;
		margin-top: 15px;
	}
	.map-col{
		padding-right: 0px;
	}
	.title-header{
		text-align: center;
	}
	.interested-col button{
		width: 100%;
		margin-top: 15px;
	}
	.why{
		padding: 0px 15px;
		margin-bottom: 30px;
	}
	.title-row{
		background-color: #07549c;
    	color: white;
    	padding-bottom: 15px;
    	margin-bottom: 15px;
	}
	#fj-special-form .row{
		padding-left: 15px;
	}
	.hotel-description h2{
		display: none;
	}
	#local-expert-link{
		display: none;
	}
	#feedback-link-overview{
		display: none;
	}
@media (max-width: 767px) {
	.box-row{
		height: auto;
	}
}
</style>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
	<div class="row top-row">
		<% if @fj.location == "Mexico" %>
			<div class="col-sm-6 img-col">
					<img class="img-fluid mexico-img" src="<%= @fj.img_src %>">
					<div class="col-sm-12 info-col">
						<p><%= @description %></p>
					</div>
			</div>
			<% else %>
			<div class="col-sm-6 img-col">
				<img class="img-fluid" src="<%= @fj.img_src %>">
			<% if @fj.location == "Hawaii" %>
				<h3 class="title-header"><%= @fj.price %> Avg per night</h3>
				<h4 class="title-header">1 Room, 2 Adults</h4>
			<% else %>
				<div class="col-sm-12 info-col">
						<!-- <p><%#= @description[615..-65] %></p> -->
					<% if @fj.location == "Cruise" %>
						<div class="col-sm-6">
						<p><%= @description %></p>
						</div>
						<div class="col-sm-6 map-col">
						<img class="img-fluid map" src="<%= @map %>">
						</div>
					<% else %>
						<p><%= @description %></p>
					<% end %>
				</div>
			<% end %>
				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8 interested-col">
						<button class="btn btn-blue" data-toggle="modal" data-target="#specialModal">I'm Interested in This Special!</button>
					</div>
					<div class="col-sm-2">
					</div>
				</div>
			</div>
			<% end %>
			<div class="col-sm-6 box-row">
				<!-- <div class="price-info col-sm-6"> -->
					<div class="row title-row">
					<h3 class="title-header"><%= @fj.title.titleize %></h3>
					<% if @fj.location == "Hawaii" %>
						</div>
						<%= @facilities.html_safe %>
					<% elsif @fj.location == "Mexico" %>
						</div>
							<div class="row">
								<p class="why"><%= @why %></p>
								<h3 class="title-header"><%= @fj.price %></h3>
								<h4 class="title-header"><%= @fj.flights %> <%= @fj.includes %></h4>
							</div>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-8 interested-col">
									<button class="btn btn-blue" data-toggle="modal" data-target="#specialModal">I'm Interested in This Special!</button>
								</div>
								<div class="col-sm-2">
								</div>
							</div>
					<% elsif @fj.location == "Cruise" %>
						</div>
						<table class="table table-responsive">
							<thead>
								<th>Day</th>
								<th>Cruise Ports</th>
								<th>Arrive</th>
								<th>Depart</th>
							</thead>
							<tbody>
								<% x = 0 %>
								<% @table.each do |val| %>
									<% if x == 0 %>
										<tr>
									<% end %>
										<% if val.text.length < 50 %>
											<td><%= val.text %></td>
										<% else %>
											<% next %>
										<% end %>
									<% if x == 3 %>
										</tr>
										<% x = 0 %>
									<% elsif x < 4 %>
										<% x += 1 %>
									<% end %>
								<% end %>
							</tbody>
						</table>
						<h3 class="title-header">Starting From $<%= @fj.price %> Per Person</h3>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-8 interested-col">
									<button class="btn btn-blue" data-toggle="modal" data-target="#specialModal">I'm Interested in This Special!</button>
								</div>
								<div class="col-sm-2">
								</div>
							</div>	
					<% else %>
						<h4><%= @fj.price %></h4>
						<h5><%= @fj.flights.titleize %></h5>
						<h5><%= @fj.dates %></h5>
					<% end %>
				<!-- </div> -->
<!-- 				<a href="#" data-toggle="modal" data-target="#specialModal" class="modal-target"><div class="interest-info col-sm-6">
					<h4>I'm interested in this special!</h4>
				</div></a> -->
			</div>
	</div>
</div>

<div class="modal fade" id="specialModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header special-modal-header-background">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><h3 class="modal-title modalh3 special-modal-header" id="contactModalLabel">Contact <%= @page_user.first %> <%= @page_user.last %></h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form action="/interested/funjet" method="post" class="form-horizontal special-form" id="fj-special-form">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="user_id" type="hidden" value="<%= @page_user.id %>">
			<input name="agent_ref" type="hidden" value="<%= @fj.agent_ref %>">
			<div class="row">
				<div class="form-group">
				    <label for="first" class="col-sm-3 control-label">First Name</label>
				    <div class="col-sm-9">
				        <input name="first" type="text" class="form-control" id="first" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="last" class="col-sm-3 control-label">Last Name</label>
				    <div class="col-sm-9">
				        <input name="last" type="text" class="form-control" id="last" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="email" class="col-sm-3 control-label">Email</label>
				    <div class="col-sm-9">
				        <input name="email" type="text" class="form-control" id="email" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="phone_number" class="col-sm-3 control-label">Phone Number</label>
				    <div class="col-sm-9">
				        <input name="phone_number" type="text" class="form-control" id="phone_number" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="message" class="col-sm-3 control-label">Message</label>
				    <div class="col-sm-9">
				        <textarea name="message" class="form-control" id="message" rows="6"></textarea>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <div class="col-sm-12 btn-col btn-col-special">
				        <button class="btn btn-blue btn-contact-modal">Send</button>
				    </div>
				</div>
			</div>
			</form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load',function(){

	    $('#fj-special-form').validate({
		      rules: {
		        'first': {
		          required: true
		        }
		      },
	          highlight: function (element) {
	              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	          },
	          success: function (element) {
	              element.closest('.form-group').removeClass('has-error').addClass('has-success');
	          }
		 });

  });

</script>