<style type="text/css">
	.btn-col{
		text-align: right;
	}
	.container{
		min-height: 550px;
		background: white;
		margin-top: 15px;
	}
	.header-row{
		color: white;
		background-color: #e84c3d;
		height: 60px;
		padding-top: 10px;
		text-align: center;
		/*margin-top: 15px;*/
	}
	.form-row{
		margin-top: 15px;
	}
	.specialWeeklyRow{
		height: 300px;
		/*border: 1px solid black;*/
		margin-top: 15px;
	}
	.weekly-details{
		position: relative;
		background-color: #4f4f4f;
		height: 100%;
		color: white;
	}
	.weekly-img{
		height: 100%;
		padding-left: 0px;
		overflow: hidden; 
	}
	.example-col{
		background-color: #4f4f4f;
	    width: 45%;
	    margin: 0% 2%;
	    color: white;
	    padding-right: 0px;
	}
</style>
<div class="container">
	<div class="row header-row">
		<div class="col-sm-12 gal-col">
			<h4>LIST A NEW SPECIAL</h4>
		</div>
	</div>
	<div class="row form-row">
		<div class="col-sm-6">
			<form action="/specials" method="post" class="form-horizontal" enctype="multipart/form-data">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="special[user_id]" type="hidden" value="<%= @user.id %>">
			<input name="special[featured]" type="hidden" value="true">
			<div class="row">
				<div class="form-group">
				    <label for="title" class="col-sm-4 control-label">Title</label>
				    <div class="col-sm-8">
				        <input name="special[title]" type="text" class="form-control" id="title" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="departure" class="col-sm-4 control-label">Depart</label>
				    <div class="col-sm-8">
				        <input name="special[depart]" type="date" class="form-control" id="departure" min="<%= Date.today %>"/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="return" class="col-sm-4 control-label">Return</label>
				    <div class="col-sm-8">
				        <input name="special[return]" type="date" class="form-control" id="return" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="vacancy" class="col-sm-4 control-label">Vacancy</label>
				    <div class="col-sm-8">
				        <input name="special[vacancy]" type="number" class="form-control" id="vacancy" min="0" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="description" class="col-sm-4 control-label">Description</label>
				    <div class="col-sm-8">
				        <input name="special[description]" type="text" class="form-control" id="description" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="price" class="col-sm-4 control-label">Price (per person)</label>
				    <div class="col-sm-8">
				        <input name="special[price]" type="number" class="form-control" id="price" />
				    </div>
				</div>
			</div>
			<div class="form-group">
			    <label for="exampleInputFile" class="col-sm-4 control-label">Photo</label>
			    <div class="col-sm-8">
			    	<input name="special[image]" type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp">
			    </div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="submit" class="col-sm-4 control-label"></label>
				    <div class="col-sm-8 btn-col">
				        <button class="btn btn-red">CREATE</button>
				    </div>
				</div>
			</div>
			</form>
			<% if flash[:sub] %>
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-6">
						<h4><%= flash[:sub] %></h4>
					</div>
				</div>
				<% flash[:sub] = nil %>
			<% end %>
		</div>
		<div class="col-sm-6 example-col">
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-6 weekly weekly-details">
					<h4>EXAMPLE SPECIAL</h4>
					<h5>3 Day Guided Tour of Rome, includes dinner.</h5>
					<h5>$180.00 pp</h5>
					<p class="special-yellow">Click to see more</p>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-4 col-xs-6 weekly weekly-img">
					<%= image_tag('colloseum', :class => 'img-fluid' ) %>
				</div>
			</a>
		</div>
	</div>
</div>