<style type="text/css">
	.btn-col{
		text-align: right;
	}
</style>
<% content_for :head do %>
<meta property="og:title" content="<%= @special.title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://52.24.144.110/<%= @special.user.id %>/<%= @special.id %>" />
<meta property="og:image" content="<%= @special.image.url %>" />
<meta property="og:description" content="<%= @special.description %>" />
<% end %>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
		<% if @special %>
			<h3><%= @special.title %></h3>
			<%= image_tag(@special.image.url) %>
			<h4>Leaves on: <%= @special.depart %></h4>
			<h4>Returns on: <%= @special.return %></h4>
			<h4>Room available: <%= @special.vacancy %></h4>
			<h4>Description: <%= @special.description %></h4>
		</div>
		<% end %>
		<div class="col-sm-6">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-8">
				<h4 class="header">Interested in this special?</h4>
				<h5>Fill out this form to get in touch</h5>
			</div>
			<form action="/subscriptions" method="post" class="form-horizontal">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="subscription[user_id]" type="hidden" value="<%= @user.id %>">
			<div class="row">
				<div class="form-group">
				    <label for="first" class="col-sm-4 control-label">First Name</label>
				    <div class="col-sm-8">
				        <input name="subscription[first]" type="text" class="form-control" id="first" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="last" class="col-sm-4 control-label">Last Name</label>
				    <div class="col-sm-8">
				        <input name="subscription[last]" type="text" class="form-control" id="last" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="email" class="col-sm-4 control-label">Email</label>
				    <div class="col-sm-8">
				        <input name="subscription[email]" type="text" class="form-control" id="email" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="email" class="col-sm-4 control-label">Phone Number</label>
				    <div class="col-sm-8">
				        <input name="subscription[email]" type="text" class="form-control" id="email" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="message" class="col-sm-4 control-label">Message</label>
				    <div class="col-sm-8">
				        <textarea name="interest[message]" class="form-control" id="message"></textarea>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="submit" class="col-sm-4 control-label"></label>
				    <div class="col-sm-8 btn-col">
				        <button class="btn btn-primary">Submit</button>
				    </div>
				</div>
			</div>
			</form>
			<% if flash[:sub] %>
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-6">
						<h4><%= flash[:sub] %></h4>
					</div>
				</div>
				<% flash[:sub] = nil %>
			<% end %>
		</div>
	</div>
</div>