<style type="text/css">
	.btn-col-special{
		text-align: right;
	}
	.container{
		min-height: 550px;
		margin-top: 15px;
		background-color: white;
	}
	.none-found{
		text-align: center;
	}
	a:hover{
		text-decoration: none;
	}
	.specialWeeklyRow{
		height: 300px;
		/*border: 1px solid black;*/
		margin-top: 15px;
	}
	.weekly-details-special{
		position: relative;
		/*background-color: #4f4f4f;*/
		height: 100%;
		color: white;
	}
	.weekly-img{
		height: 100%;
		padding-right: 0px;
		overflow: hidden; 
	}
	.example-col{
		background-color: #07549c;
	    /*width: 45%;*/
	    /*margin: 0% 2%;*/
	    color: white;
	    padding-right: 0px;
	    /*margin-top: 15px;*/
	}
	.img-fluid{
		width: 100%;
		height: 100%;
	}
	.social-media a{
		color: white;
	}
	.social-media{
		display: inline-block;
	}
	.social-div{
	    /*position: absolute;*/
	    /*bottom: -110px;*/
	    /*left: 0;*/
	    /*margin-left: -10px;*/
	    position: absolute;
    	bottom: 5px;
    	right: 5px;
	}
	.interest-col{
		/*text-align: center;*/
	}
	.social-media:hover{
		opacity: 0.6;
	}
	.social-media{
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}
	.special-form{
		padding-right: 30px;
	}
	.outer-col .btn-contact{
	    position: absolute;
	    bottom: 0;
	    /* text-align: center; */
	    margin: 15px 0px;
	    margin-bottom: 10px;
	}
	.special-modal-header{
		font-size: 20px;
	}
	.special-modal-header-background{
		background-color: #153649;
	}
	.outer-col{
		height: 550px;
	}
	@media (max-width: 1199px){
		.outer-col,
		.container{
			height: 470px;
			min-height: 470px;
		}
		.outer-col .btn-contact{
			position: relative;
		}
		.weekly-details{
			overflow: scroll;
		}
		.social-div{
			position: relative;
		}
	}
	@media (max-width: 991px){
		.outer-col .btn-contact{
			/*position: relative;*/
			margin: 0px;
		}
		.outer-col{
			height: 250px;
			min-height: 250px;
		}
		.container{
			height: auto;
			min-height: 770px;
			background-color: #4f4f4f;
		}
		.weekly-img{
			height: auto;
		    padding: 0px;
		    padding-left: 0px;
		    margin-left: -15px;
		}
		.weekly-details{
			height: auto;
			overflow: none;
		}
	}
	@media (max-width: 767px){
		form .row{
			padding-left: 15px;
		}
	}
</style>
<% content_for :head do %>
<meta property="og:title" content="<%= @special.title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://52.24.144.110/<%= @special.user.id %>/<%= @special.id %>" />
<meta property="og:image" content="<%= @special.image.url %>" />
<meta property="og:description" content="<%= @special.description %>" />
<% end %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 example-col outer-col">
				<div class="col-lg-4 col-md-4 col-sm-12 weekly weekly-details-special">
					<h4><%= @special.title %></h4>
					<h5><%= number_to_currency(@special.price) %> pp</h5>
					<h5 class="dates"><%= @special.depart.strftime('%m/%d/%y') %> - <%= @special.return.strftime('%m/%d/%y') %></h5>
					<%= simple_format(@special.description) %>
					<div class="social-div">
						<h5 class="social-media"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//52.24.144.110/specials/<%= @special.user.id %>/<%= @special.id %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></h5>
						<h5 class="social-media"><a href="https://twitter.com/home?status=http%253A//52.24.144.110/specials/<%= @special.user.id %>/<%= @special.id %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></h5>
					</div>
				<button class="btn btn-contact" data-toggle="modal" data-target="#specialModal">I'M INTERESTED IN THIS SPECIAL!</button>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 weekly weekly-img">
					<%= image_tag(@special.image.url, :class => 'img-fluid' ) %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-9 interest-col">
	<!-- 				<h4 class="header">Interested in this special?</h4>
					<h5>Fill out this form to get in touch</h5> -->
					<!-- <button class="btn btn-yellow" data-toggle="modal" data-target="#specialModal">I'M INTERESTED IN THIS SPECIAL!</button> -->
				</div>
				<% if flash[:sub] %>
					<div class="row">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-6">
							<h4><%= flash[:sub] %></h4>
						</div>
					</div>
					<% flash[:sub] = nil %>
				<% end %>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>

<div class="modal fade" id="specialModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header special-modal-header-background">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><h3 class="modal-title modalh3 special-modal-header" id="contactModalLabel">Contact <%= @special.user.first %> About <%= @special.title %></h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form action="/interested" method="post" class="form-horizontal special-form" id="special-form">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="user_id" type="hidden" value="<%= @user.id %>">
			<input name="special_id" type="hidden" value="<%= @special.id %>">
			<div class="row">
				<div class="form-group">
				    <label for="first" class="col-sm-3 control-label">First Name</label>
				    <div class="col-sm-9">
				        <input name="first" type="text" class="form-control" id="first" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="last" class="col-sm-3 control-label">Last Name</label>
				    <div class="col-sm-9">
				        <input name="last" type="text" class="form-control" id="last" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="email" class="col-sm-3 control-label">Email</label>
				    <div class="col-sm-9">
				        <input name="email" type="text" class="form-control" id="email" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="phone_number" class="col-sm-3 control-label">Phone Number</label>
				    <div class="col-sm-9">
				        <input name="phone_number" type="text" class="form-control" id="phone_number" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="message" class="col-sm-3 control-label">Message</label>
				    <div class="col-sm-9">
				        <textarea name="message" class="form-control" id="message" rows="6"></textarea>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <div class="col-sm-12 btn-col btn-col-special">
				        <button class="btn btn-contact">Send</button>
				    </div>
				</div>
			</div>
			</form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load',function(){

	    $('#special-form').validate({
		      rules: {
		        'first': {
		          required: true
		        }
		      },
	          highlight: function (element) {
	              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	          },
	          success: function (element) {
	              element.closest('.form-group').removeClass('has-error').addClass('has-success');
	          }
		 });

  });

</script>