<!DOCTYPE html>
<html>
  <head>
    <title>Evolution</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    html, body {
        margin: 0;
        height: 100%;
    }
    body{
      height: auto;
    }
    .navbar{
      margin-bottom: 0px;
    }
    #navbar{
      background-color: white;
    }
    .navbar-brand img{
      width: 50%;
      margin-right: -15px;
      display: inline-block;
      vertical-align: top;
    }
    .navbar-brand{
      padding: 0px;
      width: 300px;
      margin-left: -30px !important;
    }
    .evo{
      margin-top: 7px;
      display: block;
      color: #001537;
    }
    .travel{
      display: block;
      color: #6a96c5;
      font-size: 0.7em;
    }
    .logo-text{
      display: inline-block;
      letter-spacing: 4px;
    }
    .navbar-brand a{
      color: #001537;
    }
    .navbar-right li a{
      color: #001537 !important;
      font-weight: 500;
    }
    .navbar-right{
      margin-right: 15px;
    }
    .navbar-right li{
      padding: 0px 15px;
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    .navbar-right li:hover{
      background-color: #f1f1f1;
    }
    .condo{
      margin-left: 0px !important;
    }
    .nav-cont{
      padding-left: 0px;
      padding-right: 0px;
    }
  </style>
  </head>

  <body>
      <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid nav-cont">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><a href="/"><%= image_tag('evologo.png') %><span class="logo-text"><span class="evo">EVOLUTION</span><span class="travel">TRAVEL</span></span></a></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
<!--           <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="condo"><a href="#">CONDOS</a></li>
            <li><a href="#">CRUISES</a></li>
            <li><a href="#">SPECIALS</a></li>
            <li><a href="#">AIR</a></li>
            <li><a href="#">CAR</a></li>
            <li><a href="#">HOTEL</a></li>
            <li><a href="#">AGENT</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
