<!DOCTYPE html>
<html>
  <head>
    <% if session[:page_user_id] %>
    <% @page_user = User.find(session[:page_user_id]) %>
      <title>Evolution Travel - <%= @page_user.first %> <%= @page_user.last %></title>
    <% else %>
      <title>Evolution Travel</title>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('evo_logo_tiny') %>" />
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <style type="text/css">
  *{
    font-family: 'Rubato', sans-serif;
  }
    html, body {
        position: relative;
        min-height: 100%;
        margin: 0;
        /*height: 100%;*/
    }
    body{
      height: auto;
      background-color: #f1f1f1;
      /*height: 100%;*/
      padding-bottom: 175px;
      /*padding-bottom: 5%;*/
    }
    a{
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    button{
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    .navbar{
      margin-bottom: 0px;
    }
    #navbar{
      background-color: white;
    }
    .navbar-brand img{
      width: 50%;
      margin-right: -15px;
      display: inline-block;
      vertical-align: top;
    }
    .navbar-brand{
      padding: 3px;
      width: 300px;
      margin-left: -30px !important;
    }
    .evo{
      margin-top: 10px;
      display: block;
      color: #001537;
      text-align: center;
    }
    .travel{
      display: block;
      color: #6a96c5;
      font-size: 0.7em;
    }
    .logo-text{
      display: inline-block;
      letter-spacing: 4px;
    }
    .navbar-brand a{
      color: #001537;
    }
    .navbar-right li a{
      color: #001537 !important;
      font-weight: 500;
    }
    .navbar-right{
      margin-right: 15px;
    }
    .navbar-right li{
      padding: 0px 15px;
      -moz-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    .navbar-right li:hover{
      background-color: #f1f1f1;
    }
    .condo{
      margin-left: 0px !important;
    }
    .nav-cont{
      padding-left: 0px;
      padding-right: 0px;
    }
    .navbar-header{
      background: white;
    }
    .dropdown-toggle:active, .open .dropdown-toggle {
        background:#f1f1f1 !important; 
        color:#000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .dropdown-menu>li>a:hover {
        background:#f1f1f1 !important; 
    }
    .dropdown-menu>li{
      padding: 0px;
    }
    .dropdown-menu>li>a{
      padding: 3px 30px;
    }
    .dropdown-toggle{
      padding: 15px 30px !important;
    }
    .dropdown{
      width: auto;
      padding: 0px !important;
    }
.modal-header{
    background-color: #153649;
    color: white;
    text-align: center;
}

.modalh3{
    display: inline-block;
    margin-left: 2%;
}

#contact-close{
  color: white;
  opacity: 1;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#contact-close:hover{
  color: white;
  text-shadow: none;
  /*opacity: 0.6;*/
}

.confirm-close{
  color: black;
  opacity: 1;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.confirm-close:hover{
  color: black;
  text-shadow: none;
  /*opacity: 0.6;*/
}

.modal-header .glyphicon{
  margin-left: 15px;
  font-size: 1.3em;
}

.modal-body input{
  margin-top: 2%;
}

.modal-body textarea{
  margin-top: 2%;
}

.modal-body input{
  background-color: white !important;
  color: black !important;
}

.contact-sub{
  text-align: right;
  margin-top: 2%;
}

.btn{
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#confirmModalLabel{
  display: inline-block;
}

#confirm-header{
  background: white;
  color: black;
  text-align: center;
}

.btn-contact { 
  color: #ffffff; 
  background-color: #153649; 
  border-color: #09171F; 
} 
 
.btn-contact:hover, 
.btn-contact:focus, 
.btn-contact:active, 
.btn-contact.active, 
.open .dropdown-toggle.btn-contact { 
  color: #ffffff; 
  background-color: #0C202B; 
  border-color: #09171F; 
} 
 
.btn-contact:active, 
.btn-contact.active, 
.open .dropdown-toggle.btn-contact { 
  background-image: none; 
} 
 
.btn-contact.disabled, 
.btn-contact[disabled], 
fieldset[disabled] .btn-contact, 
.btn-contact.disabled:hover, 
.btn-contact[disabled]:hover, 
fieldset[disabled] .btn-contact:hover, 
.btn-contact.disabled:focus, 
.btn-contact[disabled]:focus, 
fieldset[disabled] .btn-contact:focus, 
.btn-contact.disabled:active, 
.btn-contact[disabled]:active, 
fieldset[disabled] .btn-contact:active, 
.btn-contact.disabled.active, 
.btn-contact[disabled].active, 
fieldset[disabled] .btn-contact.active { 
  background-color: #7e9daf; 
  border-color: #09171F; 
} 
 
.btn-contact .badge { 
  color: #153649; 
  background-color: #ffffff; 
}

.btn-green { 
  color: #FFFFFF; 
  background-color: #06B78D; 
  border-color: #1BAB8A; 
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #FFFFFF; 
  background-color: #73D4BD; 
  border-color: #1BAB8A; 
} 
 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  background-image: none; 
} 
 
.btn-green.disabled, 
.btn-green[disabled], 
fieldset[disabled] .btn-green, 
.btn-green.disabled:hover, 
.btn-green[disabled]:hover, 
fieldset[disabled] .btn-green:hover, 
.btn-green.disabled:focus, 
.btn-green[disabled]:focus, 
fieldset[disabled] .btn-green:focus, 
.btn-green.disabled:active, 
.btn-green[disabled]:active, 
fieldset[disabled] .btn-green:active, 
.btn-green.disabled.active, 
.btn-green[disabled].active, 
fieldset[disabled] .btn-green.active { 
  background-color: #06B78D; 
  border-color: #1BAB8A; 
} 
 
.btn-green .badge { 
  color: #06B78D; 
  background-color: #FFFFFF; 
}

.btn-red { 
  color: #FFFFFF; 
  background-color: #E84C3D; 
  border-color: #CF4538; 
} 
 
.btn-red:hover, 
.btn-red:focus, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  color: #FFFFFF; 
  background-color: #F77266; 
  border-color: #CF4538; 
} 
 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #E84C3D; 
  border-color: #CF4538; 
} 
 
.btn-red .badge { 
  color: #E84C3D; 
  background-color: #FFFFFF; 
}

.btn-yellow { 
  color: #FFFFFF; 
  background-color: #EBA10A; 
  border-color: #C2860E; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  color: #FFFFFF; 
  background-color: #EDC574; 
  border-color: #C2860E; 
} 
 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  background-image: none; 
} 
 
.btn-yellow.disabled, 
.btn-yellow[disabled], 
fieldset[disabled] .btn-yellow, 
.btn-yellow.disabled:hover, 
.btn-yellow[disabled]:hover, 
fieldset[disabled] .btn-yellow:hover, 
.btn-yellow.disabled:focus, 
.btn-yellow[disabled]:focus, 
fieldset[disabled] .btn-yellow:focus, 
.btn-yellow.disabled:active, 
.btn-yellow[disabled]:active, 
fieldset[disabled] .btn-yellow:active, 
.btn-yellow.disabled.active, 
.btn-yellow[disabled].active, 
fieldset[disabled] .btn-yellow.active { 
  background-color: #EBA10A; 
  border-color: #C2860E; 
} 
 
.btn-yellow .badge { 
  color: #EBA10A; 
  background-color: #FFFFFF; 
}

.btn-blue { 
  color: #FFFFFF; 
  background-color: #07549C; 
  border-color: #04396B; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #FFFFFF; 
  background-color: #4479AB; 
  border-color: #04396B; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #07549C; 
  border-color: #04396B; 
} 
 
.btn-blue .badge { 
  color: #07549C; 
  background-color: #FFFFFF; 
}

.btn-red { 
  color: #ffffff; 
  background-color: #DC1125; 
  border-color: #AD0C1C; 
} 
 
.btn-red:hover, 
.btn-red:focus, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  color: #ffffff; 
  background-color: #DB5C69; 
  border-color: #AD0C1C; 
} 
 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #DC1125; 
  border-color: #AD0C1C; 
} 
 
.btn-red .badge { 
  color: #DC1125; 
  background-color: #ffffff; 
}

    footer{
      /*background-color: #0275d8;*/
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 5%;
      height: 100px;
      background-color: white;
    }
    .logo img{
      display: inline-block;
      width: 250px;
    }
    .fa{
      font-size: 22px;
      margin-left: 11px;
    }
    .rightFooter{
      bottom: 15px;
      position: absolute;
      right: 15px;
      text-align: right;
    }
    .copy p{
      margin: 0px;
    }
    .copy{
      margin-top: 5px;
      font-size: 11px;
    }
    .footerCont a{
      transition: all 0.3s;
      color: #333;
    }
    .footerCont a:hover{
      opacity: 0.8;
    }
    .footerLinks a:hover{
      text-decoration: none;
    }
    .footerCont{
      bottom: 25px;
      position: relative;
/*      margin: 0px 15px;*/
      background-color: white;
      padding-top: 10px;
    }
    .evo-footer img{
      width: 180px;
      margin-right: 25px;
    }
    .evo-copy{
      display: inline-block;
      vertical-align: middle;
    }

    .copy-right{
      margin-top: 15px;
    }

    .footer-row .col-sm-4{
      text-align: center;
    }

@media (max-width: 1296px) {
    .evo{
      margin-top: 5px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (max-width: 767px){
  .interested_agent{
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse{
    min-height: 590px !important;
    height: 100%;
  }
  .log-reg-nav li button{
    min-width: 80px;
    margin-left: 15px;
  }
  .navbar-nav > li > a{
    height: auto !important;
    overflow: visible !important;
  }
  #contacth3{
    margin-bottom: 3px;
    margin-top: 10px;
  }
  .header-row{
    height: auto !important;
  }
}

@media (max-width: 788px) {
  .navbar-collapse{
    min-height: 190px;
  }
}

@media (max-width: 400px) {
  #contacth3{
    padding-right: 0px !important;
  }
}

.form-row-login{
  padding-right: 15px;
}

.btn-col-login{
  text-align: center;
  margin-top: 10px;
}

.btn-col-contact{
  text-align: center;
}

.navbar-right{
  height: 60px !important;
}

.nav-li{
  height: 60px !important;
  padding-top: 5px !important;
}

.error{
  color: #a94442;
  margin-top: 15px;
}

.success{
  color: #3c763d;
}

.has-success{
  margin-bottom: -15px !important;
}

.valid{
  margin-bottom: -15px !important;
}

.has-error .control-label{
  /*color: #e84c3d !important;*/
}

.hide-error{
  display: none !important;
}

button:hover{
  transform: translateY(1px);
}

.contact-col .arrow-col{
  padding-top: 23px !important;
}

.blogCont .arrow-col{
  padding-top: 23px !important;
}

.custom-checkbox{
  text-align: center;
}

.modal-btn-col{
  margin-top: 15px;
}

.interested_agent{
    font-size: 11px;
    margin-top: 5px;
}
.green{
  color: #3c763d;
}
.red{
  color: #a94442;
}
.pw-col{
  /*text-align: center;*/
}

.forgot-small{
  text-align: center;
  display: block;
  margin-top: 10px;
}

.nav-height{
  height: 900px;
}

#contactform .row{
  padding-right: 15px;
}

  </style>
<%= yield :head %>
  </head>

  <body>
      <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid nav-cont">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if session[:page_user_id] %>
          <% @page_user = User.find(session[:page_user_id]) %>
            <span class="navbar-brand"><a href="/<%= @page_user.username %>"><%= image_tag('evologo.png') %><span class="logo-text"><span class="evo">EVOLUTION</span><span class="travel">TRAVEL</span></span></a></span>
          <% else %>
            <span class="navbar-brand"><a href="/"><%= image_tag('evologo.png') %><span class="logo-text"><span class="evo">EVOLUTION</span><span class="travel">TRAVEL</span></span></a></span>
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav log-reg-nav">
          <% if session[:user_id] %>
            <li><a href="/logout"><button class="btn btn-sm btn-contact">Logout</button></a></li>
          <% else %>
            <li><a data-toggle="modal" data-target="#loginModal"><button class="btn btn-sm btn-contact">Login</button></a></li>
            <!-- <li><a href="#"><button class="btn btn-sm btn-contact">Register</button></a></li> -->
          <% end %>
          <li><a href="http://www.myevolutiontravel.com/enroll.php" class="interested_agent" target="_blank">Interested in becoming an agent?</a></li>
        </ul>
<!--           <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
          <% if session[:user_id] %>
              <% @user = User.find(session[:user_id]) %>
              <% if @user.permod %>
                <li class="condo nav-li"><a href="/admin_dash">Admins</a></li>
              <% end %>
          <% else %>
          <% end %>
            <li class="nav-li"><a href="http://www1.latesttraveloffers.com/lton/OfferGroups.asp?site=VTHARC&OfferGroupId=4880" target="_blank">Cruises</a></li>
            <li class="nav-li"><a href="https://www.faregrabbr.com/#/flight" target="_blank">Air</a></li>
            <li class="nav-li"><a href="https://www.faregrabbr.com/#/car" target="_blank">Car</a></li>
            <li class="nav-li"><a href="https://www.faregrabbr.com/#/hotel" target="_blank">Hotel</a></li>
            <% if session[:page_user_id] %>
              <li class="nav-li"><a href="#" data-toggle="modal" data-target="#contactModal">Contact</a></li>
            <% end %>
          <% if session[:user_id] %>
            <% @user = User.find(session[:user_id]) %>
            <li class="dropdown nav-li">
              <a id="agent-drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agent <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/user_guide">User Guide</a></li>
                <li><a href="/<%= @user.username %>">View Profile</a></li>
                <li><a href="/<%= @user.username %>/edit" data-turbolinks="false">Edit Profile</a></li>
                <li><a href="/gallery/<%= @user.username %>" data-turbolinks="false">View Photo Gallery</a></li>
                <li><a href="/gallery/edit/<%= @user.username %>" data-turbolinks="false">Edit Photo Gallery</a></li>
                <li><a href="/specials/new/<%= @user.username %>">New Special</a></li>
                <li><a href="/specials/all_specials/<%= @user.username %>">Edit Specials</a></li>
                <li><a href="/subscriptions">View Subscribers</a></li>
                <!-- <li><a href="/commissions">View Comissions</a></li> -->
                <li><a href="/commissions/tracker">Commission Tracking Form</a></li>
<!--                 <li><a href="/blogs/<%#= @user.id %>">VIEW BLOG POSTS</a></li>
                <li><a href="/blogs/new/<%#= @user.id %>">NEW BLOG POST</a></li>
                <li><a href="/blogs/edit/<#%= @user.id %>">EDIT BLOG POSTS</a></li> -->
                <li><a href="/logout">Logout</a></li>
<!--                 <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
           </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><h3 class="modal-title modalh3" id="loginModalLabel">Login</h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/sessions" method="post" class="form-horizontal" id="login-form">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="row form-row-login">
        <div class="form-group">
            <label for="email-login" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input name="email" type="text" class="form-control" id="email-login" required/>
            </div>
        </div>
      </div>
      <div class="row form-row-login">
        <div class="form-group">
            <label for="password-login" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6 pw-col">
                <input name="password" type="password" class="form-control" id="password-login" required/>
                <small class="forgot-small"><a href="/forgot_password">Forgot Password?</a></small>
            </div>
        </div>
      </div>
      <div class="row form-row-login">
        <div class="form-group">
            <label for="login-submit" class="col-sm-3 control-label"></label>
            <div class="col-sm-6 btn-col btn-col-login">
                <button class="btn btn-contact" id="login-submit">Login</button>
            </div>
        </div>
      </div>
      </form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<% if session[:page_user_id] %>
<% @header_user = User.find(session[:page_user_id]) %>
<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><h3 class="modal-title modalh3" id="contactModalLabel">Contact <%= @header_user.first.capitalize %></h3>
        <button type="button" id="contact-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form action="/contact" method="post" class="form-horizontal" id="contactform">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input name="user_id" type="hidden" value="<%= @header_user.id %>">
      <div class="row">
        <div class="form-group">
            <label for="email-contact" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input name="email" type="text" class="form-control" id="email-contact" required/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
            <label for="first-contact" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-6">
                <input name="first" type="text" class="form-control" id="first-contact" required/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
            <label for="last-contact" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-6">
                <input name="last" type="text" class="form-control" id="last-contact" required/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
            <label for="message" class="col-sm-3 control-label">Message</label>
            <div class="col-sm-6">
              <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
            </div>
        </div>
      </div>
      <label class="custom-control custom-checkbox form-group col-sm-12">
        <input type="checkbox" name="subscribe" class="custom-control-input" checked>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Contact me about specials</span>
      </label>
      <div class="row contact-sub">
        <div class="form-group">
            <!-- <label for="submit" class="col-sm-3 control-label"></label> -->
            <div class="col-sm-12 btn-col btn-col-contact modal-btn-col">
                <button class="btn btn-contact">Contact</button>
            </div>
        </div>
      </div>
    </form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="confirm-header">
        <h3 class="modal-title" id="confirmModalLabel">Thanks!  We'll be in touch</h3>
        <button type="button" class="close confirm-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<% end %>
    <%= yield %>
    <link rel="stylesheet" type='text/css' href="https://codepen.io/at0misk/pen/owoyJd.css">
<footer class="footer">
  <div class="container-fluid footerCont">
  <div class="row footer-row">
    <div class="col-sm-4">
      <span class="logo evo-footer"><%= image_tag('evologo-words.png') %></span>
        <div class="copy evo-copy">
          <p>Headquarters:</p>
          <p>6671 Las Vegas Blvd South</p>
          <p>Suite D-210,</p>
          <p>Las Vegas NV 89119</p>
        </div>
      </div>
      <div class="col-sm-4">
      <span class="logo"><%= image_tag('logo.png') %></span>
        <div class="copy evo-copy">
          <p>Evolution Travel is an affiliate of</p>
          <p>Archer Travel Service, Inc.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="copy copy-right">
          <p>Copyrights &copy; 2017 All Rights Reserved by Evolution Travel LLC. - <%= link_to "Privacy Polyicy", asset_path("PrivacyPolicy.pdf"), target: "_blank" %></p>
          <p>"Registered in all states that require Seller of Travel Registration."</p>
          <p>Seller of Travel: CA 2001330-10, FL 35395</p>
          <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Support@myevolutiontravel.com</p>
          <p> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(800) 272-4377</p>
        </div>
      </div>
  </div>
  </div>
</footer>
  </body>
<script type="text/javascript">
  $(document).on('turbolinks:load',function(){

$('#agent-drop').click(function () {
    if ($(window).width() < 768) {
        $('#navbar').toggleClass('nav-height');
    }
});

    $('#login-form').validate({
      rules: {
        'email': {
          email: true
        }
      },
          highlight: function (element) {
              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          success: function (element) {
              element.closest('.form-group').removeClass('has-error').addClass('has-success');
          }
  });

      $('#contactform').validate({
      rules: {
        'email': {
          email: true
        }
      },
          highlight: function (element) {
              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
              // element.closest('.error').removeClass('hide-error');
          },
          success: function (element) {
              element.closest('.form-group').removeClass('has-error').addClass('has-success');
              // element.closest('.error').addClass('hide-error');
          }
  });

    // $('#confirmModal').on('hidden.bs.modal', function () {
        // alert("CLOSED")
        <%# flash[:sent_mail] = nil %>
    // })

  });

</script>
</html>
